[2015-11-14 06:22] elifoster opened #335 "Messed up branches"
@Flaxbeard Please do what you did to the salmon branch to all the other branches. Thanks.

[2015-11-14 06:25] elifoster commented on #255
I don't know why I reopened this. This issue was resolved.

[2015-11-14 06:25] #255 closed

[2015-11-14 08:45] Zsashas opened #336 "Steam Heaters change furnace recipe priority (maybe?)"
I have JadedTweaks which adds a recipe for one Acacia Log to smelt into four charcoal (along with varying amounts for other logs). The vanilla recipe is left alone, however, for some reason.

When using a steam heater to power the furnace, the Acacia log smelts into 1 charcoal, following the vanilla recipe.

When using the furnace's fuel slot, the logs smelt into four charcoal each, following the

[2015-11-14 14:48] #335 closed

[2015-11-14 14:54] elifoster commented on #336
I can't see why this would be happening. It gets its recipes directly from Minecraft's FurnaceRecipes class.

[code]

[2015-11-14 15:37] elifoster commented on #175
I'm unable to reproduce this issue. I've been running around my test world for a few minutes and nothing is happening. Is it completely random or is there something specifically that is done before it happens?

@firespark81 @UkeFox @allaryin @4rz0 @xbony2

[2015-11-14 17:16] 4rz0 commented on #175
Sometimes, it took hours until this problem appeared, and disappeared after a server restart, sometimes, it reappeared after a few minutes and didn't go away.

[2015-11-14 17:17] elifoster commented on #175
Does it happen only when on a server?
Does it happen when only Flaxbeard's Steam Power is installed, or are other mods always installed?

[2015-11-14 18:32] 4rz0 commented on #175
I only play on servers, so I don't know if it happens in singleplayer.
We only tried it with other mods installed, but I will put up a server with only Steam Power installed to give it a try.

[2015-11-14 18:56] elifoster commented on #175
Thanks.
Could you provide your mod list so that I can see if any of the mods may have some compatibility issues?

[2015-11-15 07:10] Flaxbeard commented on #310
Misc ideas:

Pneumatic tubes, perhaps use capsules to encase items and/or liquids, steam shoots them around.

Likely difficult to implement into current pipes due to the way that pressure works, but maybe.

Conveyors, low steam cost but mostly horizontal. Rail-like inclines.

[2015-11-15 18:51] Divineaspect commented on #310
Feedback on Top Idea:
Brass tracks which could also be used by minecarts, instead of conveyor belts would fit more with vanilla, and thus with other cool mods. It also opens the door for steam powered booster tracks, and track limited (or minecart riding) mobs whenever automatons/robots happen.

Feedback on Flaxbeard's response:
Pneumatic tubes, could they be fit into the same block as a steam pip

[2015-11-15 21:18] Divineaspect commented on #256
Glad I decided to read these instead of opening my own.
Additional suggestion: When Vacuum are placed behind each other, set them to maximum range by default rather then having to wrench them into config.

[2015-11-15 23:16] Flaxbeard commented on #310
@Divineaspect I was hoping they would function in existing steam pipes though that may be difficult. Valve pipes etc would be that much more useful - just pressurize one end with a boiler, flip open a valve pipe leading to the destination, steam pushes item to the end.

[2015-11-16 00:21] Divineaspect commented on #310
well presuming capsules and existing tubes, what about creating sending and destination stations which hook up inline with pipes, and just teleport the items for Steam based on distance with dramatic clanky noises? Not tracking the location of the items path should make it less system resource intensive, and turns the opaque steam pipes from a liability in verisimilitude, to an asset.

[2015-11-16 01:52] Flaxbeard commented on #310
That could work, yeah. How do we determine the direction of steam flow in a system, however? That's going to be difficult.

[2015-11-16 04:21] Divineaspect commented on #331
As per IRC conversation
"As per Tamriel's Dwemer, rather then steampunk."

[2015-11-16 04:21] #331 closed

[2015-11-17 09:20] 4rz0 commented on #175
The modlist is here: http://files.mcupdater.com/crystal_elephant/ServerPack.xml
It's outdated, we haven't played that server in quite a while.
It was pretty much up to date when I commented on that issue.

[2015-11-19 20:14] Divineaspect opened #337 "Comprehensive Suggestions for Exo Armor"
I put quite a bit of thought into this, and gathered them all into one place as requested.
The focus of this is on expanding existing concepts already implemented, with the goal of three good component choices which aren't cross mod.

**Armor Plates**
* [x] Gilded Iron Plate: Weaker combo of Iron and Gold plates.
  * [x] Code
  * [x] Texture
  * [x] Model
  * [x] Recipe
  * [x] Lang
* [x] Zinc Arm

[2015-11-19 20:51] elifoster commented on #337
What does the Gilded Iron Plate do?
What could the Zinc Plate's lore be?
For the Gyroscope, was there another idea? There's an 'and', but no following ideas.
Isn't the Snowshoes already possible with just the exo feet?

For ideas I like, I will add a checkbox.

[2015-11-19 21:15] Divineaspect commented on #337
Gilded Iron: I was thinking of combining iron and gold's properties, as a way of encouraging people to use the FSP Guns, but if that's too powerful I'll come up with something else.

Zinc Plate Lore: "From studying the function of the rupture disc, I've learned how to make an armor plate which contains steam within it, when sufficiently damaged it explodes off of my body more then negating the for

[2015-11-19 23:13] Flaxbeard commented on #337
I'm just chiming in but I think the reloading holsters are a hilarious concept to imagine  (and also functionally pretty cool)

[2015-11-19 23:30] elifoster commented on #337
I like the Gilded Iron. Maybe it should be a combination of the two effects, but slightly weaker.

Gyroscope sounds more annoying than anything.

Snowshoes sounds like a bug needs to be fixed.

Reloading Holster sounds pretty good now that I'm thinking about it.

Secondary Steam Tanks I'm torn about.

[2015-11-22 01:38] elifoster commented on #337
So the Zinc Plate is almost working. The only thing I'm struggling with is how to actually update the ItemStack when the NBTTag "plates" is removed. It successfully gets removed, but the Zinc Exosuit Plate item never actually gets removed. @Flaxbeard The code is super similar to the UtilEnhancement#removeEnhancement code, perhaps you could take a look to see if you see anything I'm doing wrongly?

[2015-11-23 19:27] elifoster commented on #337
@Divineaspect the only way I'm able to get the -Phobic Coatings to work is requiring the user to jump off of the water. Setting the step height doesn't affect anything, probably because they aren't technically walking on a block, so the only way I'm able to reasonably get the user out of the water is by setting their motionY to something greater than 0 when they press the jump key.

[2015-11-23 20:16] Divineaspect commented on #337
have it make a phantom block the thickness of a pressureplate, which
evaporates as they leave.

Jeremiah Grimsley

"All of humanity is in peril of extinction if each one of us does not dare,
now and henceforth, always to tell only the truth, and all the truth, and
to do so promptly — right now." - R Buckminster Fuller

On Mon, Nov 23, 2015 at 1:27 PM, Eli Clemente Gordillo Foster <
notifications@g

[2015-11-23 20:39] elifoster commented on #337
I did that, and it was really jumpy and overly complicated.

[2015-11-24 08:23] elifoster opened #338 "Rockets shoot through tall grass"
The issue #295 is apparently present for rockets, as described in #302 and #303. Those PRs explain how to fix it.

[2015-11-24 17:31] elifoster commented on #337
Oh by the way, the Anchor Heels are crossmod

[2015-11-24 17:40] Divineaspect commented on #337
Anchor heels alternate recipie, anvil...

[2015-11-24 23:30] elifoster commented on #337
@Divineaspect Do you have ideas for all the recipes? I'm not very good with recipes. The only one I have so far is for the Anchor Heels:
* Standard lead recipe:
[code]

* Anvil recipe:
[code]

[2015-11-25 07:54] #338 closed

[2015-11-25 07:57] elifoster commented on #327
@xbony2 Any word on the progress for this?

[2015-11-25 07:57] elifoster commented on #328
@xbony2 Any word on the progress for this?

[2015-11-25 07:58] elifoster commented on #245
@vidaj Do you happen to still have your clone of FSP? If so, you should totally submit a PR :wink:

@xbony2 if @vidaj does not reply for a bit, do you think you could deal with this since it is crossmod?

[2015-11-25 07:59] elifoster commented on #307
@xbony2 Would you like to handle this one?

[2015-11-25 07:59] elifoster commented on #263
@Strikingwolf Do you still want to deal with this one?

[2015-11-25 08:01] elifoster commented on #175
The only mod I can see that might be causing this is Galacticraft, as IIRC it replaces the EntityPlayer and that has caused a lot of issues in the past with other mods. Not sure if they still do that.

If some of you other guys (@firespark81 @UkeFox @allaryin) could provide your mod lists so that I can actually compare them, that would be awesome. I will also ask the person who reported this on th

[2015-11-25 08:03] elifoster commented on #305
I have come up with another potential solution: on the ArrowLooseEvent, if it is a Firearm shot (or Rocket Launcher, will need to test), force a re-render. This is sort of a workaround, which isn't very good. I really should figure out the root cause of this issue. It's not the EnumActions as those are properly set by the model.

Here's what we discussed on November 12 in IRC, as noted by my perso

[2015-11-25 16:52] Flaxbeard commented on #305
I know how to fix this bug - poke me in IRC, I'll be on in like 2 hours. It has to do with caching the suit and associated issues.

Unrelated, but a lot of exo parts don't render now at least in my dev environment, including the top hat.

[2015-11-25 17:48] elifoster commented on #305
I haven't noticed that. I'll test it out at some point today

[2015-11-25 19:21] #305 closed

[2015-11-25 21:54] elifoster commented on #337
Just so everyone knows, I just rebased divine-exo-upgrades with master. This required a push -f, so you'll want to re-get the branch if you have it locally.

[2015-11-26 00:20] 63502 commented on #333
I can confirm this as a bug, whenever I use a tool that makes my player's arms enter the "using a bow" state while wearing the steam exosuit, the arms of the suit get stuck in the "using a bow" position. This includes normal bows, certain botania rods, and other weapons that are held or charged like bows.

I cant post a mod list or image at this time, as i am using a different computer than my min

[2015-11-26 01:50] elifoster commented on #333
@63502 That's a different bug, which I actually fixed today. See #305.

[2015-11-26 16:24] 63502 commented on #333
ok, thats good to know.

[2015-11-26 21:24] elifoster commented on #337
So @Esteemed-Innovation/lead-developers, @Esteemed-Innovation/aesthetics-team, and @Esteemed-Innovation/testing-monkeys should we do the Conical Hat? There were some discussions on IRC that lead to a no, but I'm not sure.

[2015-11-26 22:00] elifoster commented on #337
How should the Dragon Roar be triggered? Keybind? Automatically? Those are the only ones I can think of.

[2015-11-26 22:58] elifoster commented on #333
@63502 Just to prevent confusion, the fix is coming in 0.29.0. You'll see it when that is released.

[2015-11-27 00:02] Divineaspect commented on #337
Dragon Roar: Crouch and open hand click to represent clicking the valve?

[2015-11-27 00:10] 63502 commented on #333
Ok, thanks for the heads up. :D

[2015-11-30 08:41] elifoster commented on #175
If no one is able to provide a second mod list, this bug is probably not going to be fixed by 0.29, unfortunately. Just a fair warning.

[2015-11-30 09:11] 4rz0 commented on #175
The one I mentioned is also allaryin's.
I'm currently experimenting with 2 packs that include both the recommended versions of Steampower and Galacticraft on lastest forge for 1.7.10.

[2015-11-30 09:13] elifoster commented on #175
I need two separate mod lists to see similarities, though. If you can personally reproduce the issue in both of those packs, then provide me with both mod lists, that would be super awesome.

[2015-11-30 10:25] 4rz0 commented on #175
Ok, first results say it's mod-interaction between Steampower and Galacticraft.
I tried that in a minimum pack with only Steampower and Galacticraft (and NEI, of course) installed, the Modular Accelerator doesn't work from the start, with Galacticraft disabled, it does work.

However, I'm not quite sure about that, since I can not measure how fast I am, I just can say what it "feels" like.
Is ther

[2015-11-30 17:32] elifoster commented on #175
The upgrade is so much faster than normal walking, so you should be able to just tell.

Right now, I'm unsure about other ways you can help.

[2015-11-30 18:05] elifoster commented on #175
@4rz0 Could you perhaps test it in a pack without GC? I'm unable to reproduce it in my test instance, but it seems like you have better luck with that.

[2015-11-30 19:19] vidaj commented on #245
Sorry, things happened, so I never got around to this. I'm cloning and fixing code as we speak. PR will come through tonight or tomorrow.

[2015-11-30 19:21] elifoster commented on #245
Sweet!

[2015-11-30 23:13] 4rz0 commented on #175
Thanks to @squeek502 and his Speedometer-HUD mod, I can test this for sure now.
However, that's where the problems start.
I can not, in fact, reliably reproduce the problem yet. Even without Galacticraft installed, both the Modular Accelerator and the Thrusters are broken.

I'll keep trying and experimenting with things I had in the modpacks I was experimenting with...

[2015-12-01 00:03] 4rz0 commented on #175
And now for the bad news:
The behaviour occurs at random, with every restart of the client (since I tried with SSP, not sure what happens with SMP, but I suppose it's the server in that case, I'll try that later.).
I tried that with just Steam Power (and a few utility mods) installed.

I'll link some logs, although they seem to be pretty useless, I ran them trough a differ and there's nothing of i

[2015-12-01 00:11] elifoster commented on #175
The only thing I can think of that would be causing this is the usage of Entity IDs, but I don't really know much about those. I'll do some research and find out what they do. I think something more unique would probably fix this issue, but I am not certain.

[2015-12-01 00:17] elifoster commented on #175
Looking at the Event Handler code, if the usage of getEntityId was the problem, we'd see this issue with a bunch of other upgrades, which we don't.

[2015-12-01 04:34] elifoster commented on #175
My god. I just reproduced this. Unfortunately this was in the ieep branch, so it is not the getEntityId thing that is the problem.

[2015-12-01 04:36] elifoster commented on #153
I'm no longer able to reproduce this issue, oddly.

[2015-12-01 05:09] elifoster commented on #153
This was fixed at some point between March 6 and now. Myself and the @Esteemed-Innovation/testing-monkeys have confirmed this.

[2015-12-01 05:09] #153 closed

[2015-12-01 07:15] elifoster opened #340 "Thorough API Documentation"
@Esteemed-Innovation/lead-developers I think we should start a project in which we use the GitHub Wiki as a place for documentation on using our API. As I stated in IRC:

[2015-12-01 07:40] elifoster commented on #32
(Just for reference, this is a duplicate of #20.)

[2015-12-01 07:56] elifoster commented on #98
Why is a crash bug labeled with low priority?

[2015-12-01 08:09] elifoster commented on #173
I was stupid several months ago. Entity IDs should pretty much never be used for what it's being used there. This'll be fixed once I finish all the changes coming in the new branch, ieep.

The problem is that Entity IDs change on a lot of different occasions. I'm not going to actually test it since it seems to be a Cauldron issue, but once I eliminate probably every call to getEntityId, it should

[2015-12-01 11:10] 4rz0 commented on #175
Another interesting find:
The chance for those features to fail exclusively depend on the client.
I experimented with a SMP environment, but restarting the server didn't change if the features worked or not, this only really happens when restarting the client.

[2015-12-02 01:24] elifoster commented on #215
No one ever actually answered an important question: Does this happen without Cauldron? On a "Vanilla" server

[2015-12-02 01:46] elifoster opened #341 "Thruster sidepack rotation"
The Thruster sidepacks (the little cubes that emit steam) always face one direction, regardless of the actual rotation NBT. My guess is that this bug arose in @dmillerw 's exosuit rendering rewrite, since @Flaxbeard thought they worked as they should.

[2015-12-02 19:26] Drullkus commented on #215
This was an entertaining read

[2015-12-04 22:01] xbony2 commented on #340
You could put it on the actual wiki. Github Wikis are eh.

[2015-12-04 22:03] elifoster commented on #340
I thought about that, but we haven't really done any API documentation there as far as I'm aware. We'd need conventions for that and shit. I suppose this is now a discussion for the FTB Wiki.

[2015-12-04 23:31] #245 closed

[2015-12-11 04:17] elifoster commented on #251
@Flaxbeard should the battle drill require the player to be jumping and sprinting, or should a keybind cause the player to leap? Right now in my dev environment I have it set up to work as the former, and it's a bit annoying to use.

[2015-12-20 00:21] elifoster commented on #171
Project Zulu has not been updated in forever, so I am closing this.

[2015-12-20 00:21] #171 closed

[2015-12-20 00:27] elifoster commented on #173
This actually won't be fixed by using ieep, but I know how to fix it regardless.

[2015-12-20 00:40] #173 closed

[2015-12-20 00:45] elifoster commented on #327
Can't you already register dunk recipes with `registerDunkThing` and `registerDunkThingOredict`, and register melt recipes with `registerSmeltThing` and `registerSmeltThingOredict`? You could remove them by modifying the dunkThings and smeltThings hasmaps, couldn't you?

[2015-12-20 01:35] elifoster commented on #185
Hm. I think this might be related to the problem I'm having with the zinc plate from #337...

[2015-12-25 02:59] LemADEC opened #344 "Network bandwidth overload"
When having just Flaxbeard'sSteamPower-1.7.10-0.28.12 and Forge, just connecting to a Vanilla server, my client upload bandwidth raise to 10 kB/s.
When I do the same without the mod, I'm seating around 1 kB/s.
Connecting to an server with the mod doesn't change the result.

According to Opis, the related packet is:
C17PacketCustomPayload 0 41,00 packet/s 10,573 KiB/s 936,769 KiB

I've seen a lot o

[2015-12-25 05:08] elifoster commented on #344
Keep your eye on the 0.29.0 milestone for the next release. The bandwidth issue has been reported before, so I'll take a look when I get a chance.

[2015-12-25 06:26] elifoster commented on #183
Closing this in favor of #344 because it has more information.

[2015-12-25 06:26] #183 closed

[2015-12-25 06:27] elifoster commented on #344
Hm, weird. "C17PacketCustomPayload" is only referenced once in the code, and only in a comment. I guess I'll use this issue as a reason to learn more about Forge/MC networking/packets.

[2015-12-25 10:07] LemADEC commented on #344
From our last 6 months playing with the mod on our public modpack, we had a few weird server crashes related to ItemSteamcraftBook, about once a month.
From a quick check in vanilla, C17PacketCustomPayload is used when player joins the world, edits or signs a book, select trade, sets command blocks commands, changes beacon effect, changes item name.

[2015-12-25 10:32] elifoster commented on #344
I'd appreciate that other server crash bug being reported with the crash log, because that sounds pretty serious.

And we don't handle any of those things, except maybe when a player joins the world or changes an item name (Steam Hammer thing). So it's really weird that that is the problematic packet... Are you sure there are no other packets listed by OPIS that are causing bandwidth issues?

[2015-12-25 12:19] LemADEC commented on #344
Opis is pretty explicit on which packet is causing the issue:
Inbound:
C17PacketCustomPayload	0	41,00 packet/s	10,573 KiB/s	4,376 MiB

I'll check up those other crashes. I think there was at least 2 different patterns but it was always about the book. We weren't able to reproduce it, so it's on hold.
Pattern 1
[code]

Pattern 2
[code]

Observed with Flaxbeard'sSteamPower-1.7.10-0.28.7 and Flaxbear

[2015-12-25 20:31] LemADEC commented on #344
Here's the 3rd pattern that happens when connecting to the server. Unlike the first 2 patterns, it's just kicking the player instead of crashing the server:
[code]

[2015-12-25 21:23] elifoster commented on #344
That third crash has been fixed in 0.29.0.

[2015-12-25 22:02] LemADEC commented on #344
good to know

How many tickets do you want for the first 2 patterns?

[2015-12-25 22:33] elifoster commented on #344
Let's start with 2, but I'll close one if we find out that they are the same problem.

[2015-12-25 22:57] LemADEC opened #345 "Server crash on ItemSteamcraftBook calling getPickBlock"
As observed with Flaxbeard'sSteamPower-1.7.10-0.28.7.jar and Flaxbeard'sSteamPower-1.7.10-0.28.10.jar, server crashes with
common.ForgeHooks.onPlaceItemIntoWorld
calling flaxbeard.steamcraft.item.ItemSteamcraftBook.func_77648_a
calling net.minecraft.block.Block.getPickBlock

Here are 6 occurrences observed on our 'live' server, probably have a few more on beta if needed:
[code]

[code]

[code]

[c

[2015-12-25 23:00] LemADEC opened #346 "Server crash on ItemSteamcraftBook calling getPickBlockGuiSteamcraftBook"
As observed with Flaxbeard'sSteamPower-1.7.10-0.28.7.jar and Flaxbeard'sSteamPower-1.7.10-0.28.10.jar, server crashes with
common.ForgeHooks.onPlaceItemIntoWorld
calling flaxbeard.steamcraft.item.ItemSteamcraftBook.func_77648_a
trying to call client side class flaxbeard/steamcraft/gui/GuiSteamcraftBook

Here are 2 occurrences observed on our 'live' server, probably have a few more on beta if neede

[2015-12-25 23:01] LemADEC commented on #344
#345 and #346 have been created for patterns 1 and 2

[2015-12-25 23:02] elifoster commented on #345
Try using the latest version. 0.28.11 included a fix for some getPickBlock related things.

[2015-12-25 23:02] elifoster commented on #346
Can you confirm it with the latest version?

[2015-12-25 23:04] LemADEC commented on #346
We've not been able to reproduce.
At least one player had the book in his/her inventory or was interacting with Steamcraft blocks.
We're updating our pack to 0.28.12 in the coming days.

[2015-12-25 23:05] LemADEC commented on #345
We've not been able to reproduce.
At least one player had the book in his/her inventory or was interacting with Steamcraft blocks.
We're updating our pack to 0.28.12 in the coming days.

[2015-12-26 19:25] elifoster commented on #346
Let me know if you can reproduce this and/or #345 after you update. For now, they will both be unconfirmed and as such, not worked on.

[2015-12-27 22:16] elifoster commented on #186
So is the only remaining bug described here for the flash boiler? Can someone correct me or describe that bug in better detail?

[2015-12-28 03:52] elifoster opened #347 "Book-Hammer crash"
Testing some new networking things, I had this crash when I used the book on the hammer:
[code]

Note that it occurred AFTER the page had loaded.

[2015-12-28 04:06] elifoster commented on #347
Unconfirmed because it has not been confirmed on the master branch.

[2015-12-29 04:49] elifoster commented on #316
Paging @BluSunrize

[2015-12-29 05:18] Divineaspect opened #348 "Steam Hammer UI"
First, the item when finished must be taken out manually. Clicking on it to do so causes it to vanish, and appear as if thrown from the players inventory when the UI is closed.

There's a request for it to be automatable. #167

Secondly, it begins hammering as soon as you begin typing name changes, which is a minor issue.

[2015-12-29 05:31] Divineaspect opened #349 "Particle crash"
http://pastebin.com/vKf5b7RG

So this was pretty interesting. I had set up a a few fans pointing at a thaumcraft crimson cultist spawner, with a few vacuums on the other side, with the intention of making a monster grinder.

Using the wrench to change one of the fan's range either to or past 15 seems to have triggered the crash. the vaccums were 16 blocks away in line with the fans.

[2015-12-29 09:24] BluSunrize commented on #316
Doesn't seem to actually crash though does it? It's an NPE that's being caught, the instance seems to finish loading.

On a different note though, why check the clientsided dimension ID in the getIcon method? I realize this is to make ores look like endstone or netherrack, but this way that happens to overworld ores brought into the nether. Doesn't make a lot of sense to me, tbh =P

[2015-12-29 09:58] elifoster commented on #316
It's still an error...

And yeah, that is a good point. At the time I added that feature, it made sense, but looking back now, I guess I should set the icon based on the dimension that it was generated in.

[2015-12-29 10:00] BluSunrize commented on #316
If it's a caught error, noone cares unless it spams the log constantly And this is one that happens once as WG tries to analyze the ore's texture to generate the cluster, but it only does it once.

[2015-12-29 22:48] #344 closed

[2015-12-29 23:55] #263 closed

[2015-12-30 02:08] #327 closed

[2015-12-30 02:42] elifoster commented on #269
Milestone cleared because I want to get 0.29 out as soon as possible, and low priority issues get in the way of that.

[2015-12-30 02:45] elifoster commented on #175
That makes me wonder whether we are modifying the NBT for these items on the client. I'll investigate a little bit.

[2015-12-30 09:29] 4rz0 commented on #175
:(

[2015-12-30 10:13] elifoster opened #351 "Thumper cannot break FSP blocks"
Investigate further. This was reported on the MCF thread.

[2015-12-30 10:14] elifoster opened #352 "Steam Filler shows particles when it's not charging"
Before the Steam Filler has enough steam, it still shows the particles as if the items are charging. It should only show these particles while it is charging.

[2015-12-30 10:42] elifoster commented on #337
Well, all of the code is done for this issue. Now we're just waiting on the @Esteemed-Innovation/aesthetics-team for some textures and models.  Here are some more in-depth descriptions of the things:
* Rebreather: We already have the model, so all we need is the item texture. [this](https://raw.githubusercontent.com/Esteemed-Innovation/Flaxbeards-Steam-Power-Resources/8d2f716ca6c447f270a184e366b37

[2015-12-30 10:44] elifoster commented on #324
All the code is done for this issue, so we are just waiting on some models and textures from our lovely @Esteemed-Innovation/aesthetics-team
Here's what the things should look like:
* Foggles: See @Flaxbeard 's item texture, but as an armor texture. See the Thaumcrat goggles if you are having trouble, I guess.
* Rain-Away: I was thinking some sort of umbrella-type thing, but if anyone ( @Esteemed-

[2015-12-30 19:15] Divineaspect commented on #337
Where are did the chosen recipes for those items I'm supposed to provide suggestions for the appearance of go?

[2015-12-30 20:10] elifoster commented on #337
You mean [this](http://ftb.gamepedia.com/User:TheSatanicSanta/Sandbox/FSPRecipes)

[2015-12-30 21:15] Divineaspect commented on #337
Frequency shifter: upside down headphones with the connecting band going under the chin, with a redstone antenna on one side.

Reloading Holsters: belt and holster with a brass buckle. The holster could have a revolving chamber, if it can be animated just make it spin when active, with a brass piston pointed up through the back of the chamber.

Anchor Heels: four heavy looking metal "toes", two in

[2015-12-30 21:58] elifoster commented on #251
Just so everyone who may have cloned the branch knows, the branch has been rebased to master.

[2015-12-31 03:29] elifoster commented on #332
This might be related to #290

[2015-12-31 03:30] elifoster commented on #333
@Divineaspect I'll need you to test this with a dev release which I will give you through IRC soon.

[2015-12-31 03:36] elifoster commented on #340
Pretty sure we came to the consensus to have a general modding guide for FSP on the actual wiki, and to just have good documentation in the code.

[2015-12-31 03:36] #340 closed

[2015-12-31 05:26] LemADEC opened #353 "Remove calls to ReflectionHelper from high traffic code"
ReflectionHelper is fairly slow to execute by design. It's intended to be used once, during server init or something alike.
As seen in https://github.com/Esteemed-Innovation/Flaxbeards-Steam-Power/blob/master/src/main/java/flaxbeard/steamcraft/handler/SteamcraftEventHandler.java#L454
There's 2 to 4 calls to that library for every LivingUpdateEvent() on a villager.
Due to this, the mod is 6 times s

[2015-12-31 05:58] LemADEC opened #354 "handleSteamcraftArmor is 3 times slower than other mods"
After doing a 21 mn profiling on our server, we've noted that handleSteamcraftArmor is about 3 times slower to process than other mods, notably when calling removeGoodExoBoost(), removeBadExoBoost(), hasPower() and getExoArmor().
Following review of the current code here: https://github.com/Esteemed-Innovation/Flaxbeards-Steam-Power/blob/master/src/main/java/flaxbeard/steamcraft/handler/Steamcraft

[2015-12-31 06:03] elifoster commented on #298
@hlaaftana For what it's worth, despite this being a completely dead issue, that's actually not true. Look at Boolean#parseBoolean; it checks if it is "true" with any casing, and not null. Otherwise it assumes false.

[2015-12-31 06:08] elifoster commented on #354
1. We already do that, however, not in the code in the latest version. That was added in 714359c so you'll see it in 0.29.0.
2. I'll look into those methods.

[2015-12-31 06:31] elifoster commented on #353
Yikes! We reference it 33 times! I'll look into all of these references.

[2015-12-31 07:18] elifoster commented on #353
I'm able to remove a bunch of the ReflectionHelper references, except for that first one you listed. I'm not really sure how to access those villager fields without reflection.

[2015-12-31 08:04] elifoster commented on #353
That tile entity code shouldn't ever be called because the custom furnace block (and crafting table) never get initialized... I'll change it anyway in case we actually make those blocks do things.

[2015-12-31 08:53] elifoster commented on #353
Now that those are out of the way, we still use reflection when rendering crafting pages, and on villager updates.

I took a look in the Botania source, because our book code is similar, and they use reflection to render crafting recipes as well. On top of that, the only thread I could find about ShapedOreRecipe#width and #height included Lex rejecting making these fields public.

As for villagers

[2015-12-31 11:57] LemADEC commented on #354
1- this is not fixed in the code you're referencing to
[code]

should be

[code]

[2015-12-31 12:32] LemADEC commented on #353
You can make the field public dynamically, like I did for arrows in the Runic Dust mod (HellStorm Rune):

[code]

In your case, field_70961_j is timeUntilReset and field_82189_bL is lastBuyingPlayer

[2015-12-31 19:45] elifoster commented on #354
Oh, yeah.

[2015-12-31 19:49] elifoster commented on #353
Ah, thank you for that. I'm still very raw when it comes to reflection

[2015-12-31 23:23] elifoster commented on #353
@LemADEC Does it matter which phase of initialization that occurs it? I'd imagine preInit, but I can't really find any information about it in regards to MCF itself.

[2016-01-01 03:14] LemADEC commented on #353
I do it in the static constructor of the class, so it's done when the class is instantiated, typically during  init phase.

[2016-01-01 05:06] elifoster opened #355 "Exosuit tries to render when damaged while wearing Ender Shroud"
When the player takes damage while wearing an Exosuit with the Ender Shroud, it will appear for a brief moment, and looks very strange. Unsure at this point if this is a feature or a bug.

[2016-01-01 05:08] elifoster commented on #355
Just looked at the lore, this is a feature.

[2016-01-01 05:08] #355 closed

[2016-01-01 08:52] elifoster opened #356 "Deprecate/remove IEnhancement#cost"
The cost method sets a value only used by the anvil-upgrading functionality in which weapon enhancements are installed through the anvil. Also, delete handleEnhancement at the bottom of the event handler.

[2016-01-02 03:48] elifoster opened #357 "Exosuit Steam FIller charging issue when Item Physics is installed"
See [this video](https://www.youtube.com/watch?v=4NW-1pHvNNE)

Reported on the MCF by unggod

[2016-01-02 03:53] elifoster commented on #357
@CreativeMD Does this need to be fixed on my end or yours? I see a very similar issue at CreativeMD/ItemPhysic#15.

[2016-01-02 09:54] #356 closed

[2016-01-02 21:46] #353 closed

[2016-01-02 23:12] #354 closed

[2016-01-03 22:12] CreativeMD commented on #357
I will contact the author of this mod, there is no way to fix it from my side.

[2016-01-03 22:14] CreativeMD commented on #357
There is a rather easy way to fix it.
If you enable
```RenderItem.renderInFrame = true;```
before rendering and disable it again (after rendering)
it will remove all those rendering glitches.

[2016-01-04 04:03] elifoster opened #358 "Ore crash"
This was posted to the [feedthebeast subreddit](https://www.reddit.com/r/feedthebeast/comments/3xu0mj/what_does_this_mean/) a couple weeks ago.
Possible incompatibility with Fastcraft, which is undesirable.

[code]

[2016-01-04 16:09] AeroyrHwrdd commented on #358
I had something similar.
http://pastebin.com/kJTJK5kZ

You wanted more details about this sort of crash, well this only appeared for me once I tweaked the ore spawn in configs across didn't mods.

[2016-01-04 20:03] Divineaspect commented on #186
I can't reproduce this, but I'll save a world to keep testing against in case it comes up again.

[2016-01-04 20:04] Divineaspect commented on #286
Cannot reproduce, and I've been doing a LOT of this on my server.

[2016-01-04 20:31] #286 closed

[2016-01-04 20:50] elifoster opened #359 "Better use of OreDict"
After we merge the steamtools branch, which contains an OreDictHelper class, we need to use the oredict a lot better for better mod compatibility. The OreDict entries that certain things use can also be configurable, since they are just strings. Here are the following areas that should be oredictified:
- [ ] Look through the entire codebase for areas that should be oredicted rather than hardcoded

[2016-01-05 20:50] sfPlayer1 commented on #358
The two issues aren't strictly related.

The first one is initially suffering from a bug in atomicstryker.battletowers.common.AS_WorldGenTower.getSurfaceBlockHeight(AS_WorldGenTower.java:514).

Its world decorator is the first in the stack trace and causes another chunk to be loaded, which isn't supported by the game. MC avoids this by restricting world decoration to 2x2 chunks with the currently

[2016-01-05 21:59] elifoster commented on #358
Thanks Player.

[2016-01-07 08:30] elifoster commented on #284
This should have been opened in 6d735ee

[2016-01-07 08:32] elifoster commented on #358
Duplicate of #330. Fixed in next version, kind of. Fixed by just removing the feature.

[2016-01-07 08:32] #358 closed

[2016-01-07 08:34] elifoster commented on #284
Never mind. This request is actually not reasonable because it's already able to be done by simply disabling oregen. As seen in SteamcraftBlocks#79-82, the blocks existence is not dependent on the generation of them. They always exist. I guess something to disable them could be implemented, but that really isn't necessary because it doesn't matter, as long as they don't generate. Closing.

[2016-01-07 08:34] #284 closed

[2016-01-07 17:13] elifoster commented on #349
I don't think this is crossmod; I think it's just a result of the following code:
[code]

being called on a `block` that does not have digging effects.

[2016-01-07 21:07] justicesays commented on #310
Do we need to determine a "steam direction"?
I would have the sending station induce an "overpressure wave" in the steam pipe, and the item gets pushed along with that (maybe in one of the capsules used to preserve items, or a similar capsule without the "no-despawn" , which would have to be supplied and sent back along a return route).
You can configure the sending station to use a certain amount

[2016-01-07 22:05] ParadoxBomb opened #360 "[suggestion] Steam-powered redstone emitter"
A block that, when it has steam moving through it (or is the endpoint for a steam pipe) emits a redstone signal. This would allow the control of more "high tech" machines with the rotation of a steam valve.

[2016-01-07 23:14] elifoster commented on #360
Can't you accomplish this with the steam gauge?

[2016-01-08 00:12] elifoster commented on #51
Note that the fun bug is at #163

[2016-01-08 00:28] #163 closed

[2016-01-08 00:56] Divineaspect commented on #360
You could, but it would look clunky, and that's a big deal for some people.

[2016-01-08 01:57] elifoster commented on #360
I think the following setup is sorta clunky, but does fit with FSP's vanilla-based theme.

![this](http://puu.sh/mnyRM/db8d8f47fc.png)

There are probably redstone expansion mods that could duplicate this in a single block.

[2016-01-08 01:59] elifoster commented on #250
This is being done in the features-steamtools branch.

[2016-01-08 03:33] elifoster commented on #307
Removing this from the 0.29 milestone because I want to get that pushed ASAP. @xbony2 feel free to tackle this whenever you feel.

[2016-01-08 03:33] elifoster commented on #328
Removing this from the 0.29 milestone because I want to get that pushed ASAP. @xbony2 feel free to tackle this whenever you feel.

[2016-01-08 03:34] elifoster commented on #175
Removing this from the 0.29 milestone because I want to get that pushed ASAP, and this has so far proven to be unpredictable and complicated, which takes a lot of time. If we can continue figuring out how to deal with it, that would be awesome.

[2016-01-08 04:04] Divineaspect commented on #251
A few of these ideas talk about the automation upgrade item, I'm ignoring them because I know it's planned, but things like the sawmill, etc. I'm also ignoring things I know which are already in the divine-exo-upgrades or the tool upgrade in some form.

A Lot of these items list things like 10x cost, ignore that, make it about 1.5 increase in cost. Duration of tools already sucks, even with the pl

[2016-01-08 04:09] Divineaspect commented on #328
This probably shouldn't be pushed later then 0.30.0 it's the most needed feature to make FSP accessible to new users.

[2016-01-08 04:37] elifoster commented on #328
#Blame @xbony2

[2016-01-08 08:39] 4rz0 commented on #175
I'm always here to help with that :D

[2016-01-09 14:29] xbony2 commented on #328
Fine, I'll work on it.

[2016-01-10 00:44] xbony2 commented on #328
So yeah, these need GUI textures of some sort for me to complete. Looking at people who can make said GUIs.

[2016-01-10 00:45] elifoster commented on #328
@Esteemed-Innovation/aesthetics-team Yet another thing for you guys to do, please.

[2016-01-17 03:29] SkeletonPunk commented on #251
@elifoster Are the textures for the tool upgrades going to be visible on the tools themselves?

[2016-01-17 05:42] elifoster commented on #251
@SkeletonPunk Yeah, you can kinda see how it works in the following picture:

![this picture](http://puu.sh/mjOOX/9a85a4f7b1.png)

Notice how the drill head is much larger; that's the Big Drill upgrade. All the existing upgrades are at the [resources repo](https://github.com/esteemed-innovation/flaxbeards-steam-power-resources).

[2016-01-17 17:07] Flaxbeard commented on #251
I don't think the battle drill should require you to be jumping at all, just charging.

[2016-01-17 17:22] SkeletonPunk commented on #251
@elifoster seems like some of the textures that aren't check off are already in the mod resources, should I still do them?

[2016-01-17 21:08] elifoster commented on #251
@SkeletonPunk no just do the ones that aren't in the resources.

@Flaxbeard that is the plan, just gotta get around to rewriting it

[2016-01-22 03:48] DoopPatrol commented on #324
![foggles_1](https://cloud.githubusercontent.com/assets/16791500/12501925/b0094f30-c088-11e5-9661-aeb3d320f01f.png)
![fogglesexosuit](https://cloud.githubusercontent.com/assets/16791500/12501926/b00b7cba-c088-11e5-935c-64ba3461f458.png)

[2016-01-22 03:51] DoopPatrol commented on #324
Added texture for Foggles for exo suit and for standalone

[2016-01-22 06:40] Divineaspect commented on #91
I can't confirm this one.

[2016-01-22 06:41] #91 closed

[2016-01-22 06:56] Divineaspect commented on #98
Doesn't seem to be an issue with modern Schematica, FSP, and blood magic.

[2016-01-22 07:09] #98 closed

[2016-01-22 07:55] Divineaspect commented on #282
I will confirm that this is desireable.

So howabout a tier 2 exosuit which can take more upgrades? what with more upgrades being in the works?

[2016-01-22 07:56] Divineaspect commented on #313
um didn't I see someone we know showing gifs of his giant armor effect, we could impliment something like that to enhance the shitkicking feel on top of the exosuit.

[2016-01-22 07:57] Divineaspect commented on #289
I cannot reproduce without error logs or something else to work with. I do this regularly.

[2016-01-22 07:59] elifoster commented on #282
We'd need actual progression for that, which doesn't currently exist in the mod. If/when we implement proper progression, that could definitely happen.

[2016-01-22 07:59] elifoster commented on #313
That was @Flaxbeard that you are thinking about.

[2016-01-22 10:59] elifoster commented on #315
I'm going to close this. Just watch your notifications and watch issues that involve new features.

[2016-01-22 10:59] #315 closed

[2016-01-22 11:10] elifoster commented on #226
This issue might be inadvertently fixed by 77442f4 and a671e99

@Divineaspect Can you test it on the 0.29 dev release I gave you earlier this month?

[2016-01-22 11:52] #357 closed

[2016-01-24 20:36] elifoster commented on #251
@Flaxbeard You should totally put the code for the Thermal Drill and Charge Placer somewhere that I can look at.

[2016-02-04 01:38] Divineaspect commented on #351
under some circumstances, It doesn't destroy steam tanks and pipes, which is probably for the best.
I'm getting unreliable results on does it destroy chests.

[2016-02-04 02:20] Divineaspect opened #361 "Server side crash with FSP dev 1.7.10-20160202"
with merchant gui

http://pastebin.com/DMqt0Z7k

[2016-02-04 03:24] #361 closed

[2016-02-05 05:41] elifoster commented on #324
We are actually pushing this back due to some new ideas that arose stemming from it.

[2016-02-06 03:06] Azutte opened #362 "Server crash when using the Esteemed Innovation journal"
Clicked a nether crucible with the tutorial book! Everything died.

[2016-02-06 03:07] Azutte opened #363 "Can we get Electrum in the crucible?"
Throwing Immersive Engineering silver in, doesn't go in. I think I tried thaumcraft 4 silver nuggets too.

[2016-02-06 03:24] elifoster commented on #362
Can you provide a crash log?

[2016-02-07 04:51] 3TUSK opened #364 "Request to add steam workshop with desert-village-style"
![2016-02-06_13 41 56](https://cloud.githubusercontent.com/assets/9113033/12870950/2c5658ee-cd2c-11e5-9e16-ff030a8fb6df.png)

Just for those who has OCD. FSP version is 0.28.12.

[2016-02-07 10:27] LemADEC commented on #346
After 1 month, we no longer have crashes on ItemSteamcraftBook , you may close this one

[2016-02-07 10:27] LemADEC commented on #345
After 1 month, we no longer have crashes on ItemSteamcraftBook , you may close this one

[2016-02-07 12:40] #345 closed

[2016-02-07 12:40] #346 closed

[2016-02-08 06:22] Azutte opened #365 "Is the smasher's NEI handler supposed to be in the current version?"
Referencing [this](https://github.com/Esteemed-Innovation/Flaxbeards-Steam-Power/blob/5f70d3644a38b023f8d9a7366cef6d3d0a43943b/src/main/java/flaxbeard/steamcraft/integration/nei/handlers/RockSmasherHandler.java) and the fact that I cannot pull up a recipe for the smashed ore pieces, or... sand? It's hard to even say what I can and can not do with it, because there's no list provided by NEI or the

[2016-02-08 06:26] elifoster commented on #365
No, that is a 0.29 feature. Always look at the changelog, and remember that master is typically in-dev commits.

[2016-02-08 06:26] #365 closed

[2016-02-08 06:29] Azutte opened #366 "Can you allow the rock smasher to break obsidian?"
Personally I'd be using it to just harvest the blocks -- it doesn't seem like it breaks the block currently, at all -- but also [a few mods](http://ftbwiki.org/Pulverized_Obsidian) add a crushed form of obsidian, and it would be nice if I could use this one to work on that.

[2016-02-08 06:32] elifoster commented on #366
Added the crossmod label because we'd have to only enable this recipe when a certain oredict entry is registered.

[2016-02-08 06:37] Tristaric commented on #362
Tell me how to get a crash log from a server and I'll happily give it to you.

[2016-02-08 06:39] elifoster commented on #362
If it's your server, get it from the crash-reports folder (or whatever the equivalent is).

If it's someone else's server, ask them for the crash report,

[2016-02-08 06:40] Tristaric commented on #362
It's my server, I'll grab it real quick

[2016-02-08 06:46] Tristaric commented on #362
I think this is it..? http://pastebin.com/tHXQHaXu

[2016-02-08 06:47] Azutte commented on #362
Unrelatedly (no crash, still weird) [this](http://imgur.com/a/ZP5He) is what it does SOMETIMES in single player

[2016-02-08 06:50] Azutte commented on #366
I'd still appreciate it if it could break the block in block breaker mode.

[2016-02-08 06:51] elifoster commented on #362
@Tristaric That log is fine, though in the future, the crash report refers to `This crash report has been saved to: /home/minecraft/multicraft/servers/server17855/./crash-reports/crash-2016-02-08_01.52.51-server.txt` :smiley:

@Azutte Ah yeah, that bug has been reported at #287.

[2016-02-08 16:47] elifoster commented on #362
@Divineaspect can you confirm this, since it was allegedly fixed in 0.28.2?

[2016-02-08 22:24] Divineaspect commented on #362
shift click but yes I can.

http://pastebin.com/e9Vg5hx3

[2016-02-08 23:10] LemADEC opened #367 "Need to jump to walk on slabs and stairs"
As of f6ab0f4682e2b44f2dcafca5ef3374e5a86a5e1f, a player with no armor needs to jump on slabs or stairs, a player should only need to walk on those.
Issue is reproduced in single player with only FSP and Forge 7.99.39.1566.

Disabling the stepUp initialisation seems to fix it, here:
https://github.com/Esteemed-Innovation/Flaxbeards-Steam-Power/blob/master/src/main/java/flaxbeard/steamcraft/entity/

[2016-02-08 23:50] elifoster commented on #367
This issue was supposedly solved last year at #153 but it was never confirmed how, so I would not doubt it still exists. I don't think that commit is relevant.

[2016-02-09 01:25] LemADEC commented on #367
I was giving the commit as a version label where the issue is reproduced, sorry for the confusion.

Since we never know what other mod could do with that stepUp value, I would propose to only remember we've changed it and, when removing it, only restore to vanilla default value instead of a saved one. Ideally, we would check the current value before changing it.

[2016-02-14 20:49] elifoster commented on #363
I'm not really sure what the purpose of this would be at the moment

[2016-02-14 21:24] #367 closed

[2016-02-15 01:36] elifoster commented on #347
Might be related to #362 as it mentions the server in the crash report, as well as a line that references `Minecraft`, a client-side only class.

[2016-02-16 22:26] #347 closed

[2016-02-16 22:26] #362 closed

[2016-02-27 15:42] kwpugh opened #370 "Server crash when player shift right-clicks steam book"
Crash report: http://pastebin.com/raw/s3FkUrvq

Forge:  forge-1.7.10-10.13.4.1614-1.7.10-universal.jar

[2016-02-27 16:16] elifoster commented on #370
Duplicate of #362.

[2016-02-27 16:16] #370 closed

[2016-03-10 04:37] GreenFoxx opened #371 "Exosuits make players invincible."
So on my server the exosuit makes any wearer completely invincible! I have no idea why. I went into single player and tried it and the bug is not present there. The server uses kcauldron and we a custom modpack with mods listed here:       http://technicpack.net/modpack/industrial-conquest-modpack.810689

[2016-03-10 06:12] elifoster commented on #371
This is possibly due to Cauldron. Are there any relevant logs?

[2016-03-11 00:31] GreenFoxx commented on #333
Hey I have this issue still when using flans mod.

[2016-03-11 00:31] GreenFoxx commented on #371
Fixed it was kcauldron

[2016-03-11 00:37] #371 closed

[2016-03-18 08:55] 4rz0 commented on #175
Any new changes made for this to be tested?

[2016-03-18 16:52] elifoster commented on #175
Nope 😢

[2016-03-22 22:39] elifoster opened #372 "License issues"
* [x] License should be formatted in markdown. Seriously.
* [x] We either need to choose a different license that does not allow for sharing without our consent, or remove all the "Ask us before putting it in a modpack" crap from all the threads. @xbony2 @Strikingwolf @Lance5057 @Divineaspect  what do y'all think? I personally would rather do the latter, as this has always been an open source proj

[2016-03-23 00:54] xbony2 commented on #372
Public Domain or riot.

[2016-03-23 04:24] Strikingwolf commented on #372
I agree, although I do believe that courtesy is ask before, but not required would be the preferred way to put it. That is if you don't want to just remove the requirement altogether

[2016-03-23 06:22] Lance5057 commented on #372
I'm for removing the "ask first " bit, to me it always sounds slightly pretentious.
As for license I'd just suggest one that forbids commercial use or add in use for monetary gain isn't allowed. Mostly because I hate item selling servers.

[2016-03-23 06:24] elifoster commented on #372
@xbony2 eh
@Strikingwolf I think a better way to say that would be "Let us know if you are using it in a modpack!" which we already state in the thread :stuck_out_tongue:

[2016-03-23 11:57] xbony2 commented on #372
I'm not agreeing to any license that isn't open as possible. Dicky server owner don't really listen to licenses; a restrictive license over tiny software like this is just protection to artificially make yourself feel better.

[2016-03-23 14:33] Strikingwolf commented on #372
@elifoster that's what I meant, I just typed that at 2 AM in the morning :laughing:

[2016-03-23 17:23] elifoster commented on #372
@xbony2 how about we agree to disagree, and settle on a middle ground, like the CC BY 4.0 license?

@Lance5057 I agree about the servers, but modpack developers should definitely be allowed to profit (like through curse forge rewards). If that wasn't a thing, I would be all for an NC license.

[2016-03-23 17:49] Strikingwolf commented on #372
I would do MIT license with at the top an added pointer to the MC Eula, as that forbids item-selling servers and such

[2016-03-23 18:05] Divineaspect commented on #372
MIT license seems to meet all our preferences.

I'd suggest adding a note that we like to hear about it's inclusion, and the MC eula, not to the license, but to pages the mod is connected to.

[2016-03-24 00:28] xbony2 commented on #372
MIT has [it's own issues](http://forum.freegamedev.net/viewtopic.php?f=7&t=4328).

[2016-03-24 06:00] elifoster commented on #372
Xbony, most of that thread is people complaining about public domain licenses.

[2016-03-24 21:22] xbony2 commented on #372
It's the first part- the vagueness of "substantial portions".

[2016-03-25 20:50] elifoster commented on #372
@xbony2 http://programmers.stackexchange.com/questions/178486/what-exactly-does-the-condition-in-the-mit-license-imply That doesn't seem to really make any sort of difference.

[2016-03-25 22:42] elifoster commented on #328
@Lance5057 Are you decent at making GUI textures?

[2016-03-26 01:47] Lance5057 commented on #328
I can, what did you have in mind?

[2016-03-26 12:17] xbony2 commented on #328
NEI-GUI textures for the above recipes.

[2016-03-28 18:24] elifoster opened #374 "Boiler comparator"
Love garryo on the Minecraft Forums.

I don't really know a whole lot about comparators.

[2016-03-28 20:31] elifoster commented on #337
divine-exo-upgrades needs to be merged into master before the recipes for #251 can be made, as some require components added by this. @Lance5057 This is higher priority than #251.

[2016-03-30 05:48] Lance5057 commented on #328
[How's this?](http://imgur.com/a/YVOek)

[2016-03-30 05:58] elifoster commented on #328
I like them. The crucible ones might be a bit hard to understand, but with the addition of text at the top (e.g., "Dipping", "Alloy" whatever) that should be solved.

Just to avoid confusion regarding that check list, the Rock Smasher also needs one :smile:

[2016-03-30 15:39] elifoster commented on #372
@xbony2 I don't really want to go public domain. I'm cool with [MIT](http://choosealicense.com/licenses/mit/) or [Apache](http://choosealicense.com/licenses/apache-2.0/) though.

[2016-03-30 16:57] Divineaspect commented on #337
Model Thoughts
Frequency shifter: Earmuffs with an antenna like a redstone torch on one side
Anchor Heels: Just a set of "toes" at the foot area

[2016-03-30 18:33] Krands opened #375 "*Thermal compatibility"
### Feature Request
I don't know if it's planed.
But, like Railcraft's Steam Boiler, it's probably more insteresting than using directly the Thermal Expansion's Steam Dynamos.

**We** do not use Railcraft because it makes vanilla rails a pure investment. So we chosed your mod instead, because it's the most beautiful and the most promising.

I am making a power plant using 3 kinds of energy, includ

[2016-03-30 18:42] elifoster commented on #375
I am interested in what was "[REDACTED]" :stuck_out_tongue:

Currently, there's not a roadmap. I hope to have 0.29.0 released within the next couple weeks with lots of bug fixes, and quite a lot of new features as well.

Can you explain "Interconnection between FSP / Thermal pipes/machines" a bit more? I am not really familiar with the CoFH mods past Minecraft 1.6.

[2016-03-30 19:13] Krands commented on #375
Thought about this, but I forgot during the writing process. :neutral_face:

Pictures speak better than words:

Did not succeed the first time about the converter. My bad. But about tanks and Dynamos, I am still interested.

Bonus points, but that's another mod. Fancy Fluid Storage. Because I don't know how Steam Tanks work and I can't find anything about that. :sob:

[2016-03-30 19:16] Divineaspect commented on #375
FSP uses a pressure/equilibrium system for it's steam.
You can use the converter to turn it to liquid form if you want to use pipes.

[2016-03-30 19:20] elifoster commented on #375
@Divineaspect That's only if Railcraft or IC2 is installed. By the sound of it, @Krands has neither.

[2016-03-30 19:22] UndeadZeratul commented on #375
I thought it registered the converter if the Forge Fluid for steam was  also registered.  It might be true to say that IC2 and Railcraft register their own steam fluids, but now so does Thermal Foundation.  Does FSP currently just look for those mods explicitly?  If so, maybe it just needs to sift through the FluidRegistry and see if steam exists, and if it does, it also registers the converter?

[2016-03-30 19:23] Divineaspect commented on #375
So a config option which transforms SU into RF at point of RF use is what is being requested?

[2016-03-30 19:25] elifoster commented on #375
Ah, yes, I was incorrect. It looks for the forge fluid `"steam"`, and if IC2 is installed, `"ic2steam"`. I'll take a look into CoFH steam to see if it is registered as something else.

[2016-03-30 19:28] elifoster commented on #375
Thermal Foundation appears to use `"steam"` as well, so simply hooking up a steam pipe to a pressure converter should give you that fluid steam.

[2016-03-30 19:29] elifoster commented on #337
I have rebased again. All code is done except for models :smile:

[2016-03-30 19:36] Krands commented on #375
You can use the converter to turn it to liquid form if you want to use pipes.

It's actually shown on the first picture. I use to mix up Itemducts and Fluiducts as they are both light gray. To extract the "_steam fluid_", you can connect a Fluiduct and use a servo. Then it appears to be considered as a liquid.

[2016-03-30 19:46] elifoster commented on #375
prio:low because the only suggestion that isn't already in the mod is the Induction Smelter recipe.

[2016-03-30 19:48] Krands commented on #374
The comparator might be used as it follows:

`if steam [container] is full
      stop burning
else
      burn items
`
Or something like that, this what I might expect. Maybe the player could set a limit, like, 80%.

But it would be interesting to get a visual indice if the tanks are full or not, albeit there's the Whistle and the Gauge.

[2016-03-30 20:28] elifoster commented on #374
`if steam [container] is full stop burning else burn items`
Or something like that, this what I might expect. Maybe the player could set a limit, like, 80%.

? That's not what redstone comparators do.

That's what the steam gauge is for :)

[2016-03-31 12:17] xbony2 commented on #372
If you want to it to be open, you might as well make it open and not just "mostly open".

[2016-03-31 16:12] elifoster commented on #372
I can't find anything to support *not* going with CC0, so I'm fine with that. We do have to get consent from all contributors, which will be fun in the curious case of flaxbeard

[2016-03-31 17:54] elifoster commented on #372
So, we need consent from all the contributors to change the license from GPL v2 to CC0. You can read a summary of it [here](https://creativecommons.org/publicdomain/zero/1.0/).

* [ ] @Flaxbeard
* [ ] @Zenith-One
* [ ] @Mrkwtkr
* [ ] @Gholuk
* [ ] @Kris1432
* [ ] @Ghoughpteighbteau
* [ ] @mymagadsl
* [ ] @Vexatos
* [ ] @L1b3r4t0r
* [ ] @hlaaftana
* [ ] @Juput
* [ ] @vidaj
* [ ] @kenzierocks
* [ ]

[2016-03-31 20:22] Krands commented on #374
I was thinking about a Steam Comparator, but nevermind.
I fear that my flash boiler explodes whilst I am away from Minecraft. :/

[2016-03-31 20:55] ChrisLangley commented on #372
Not sure what you'd need me to do, you have my consent of course, let me
know if you need me to do something more specific.

On Thu, Mar 31, 2016 at 12:54 PM, Eli Clemente Gordillo Foster <
notifications@github.com> wrote:

[2016-03-31 21:17] elifoster commented on #374
It only will if its chunk is loaded. That's what the steam safety devices are for.

[2016-03-31 22:30] hurr1k4ne commented on #372
I'm okay with the change in license.

Hurr1k4ne
Am 31.03.2016 7:54 nachm. schrieb "Eli Clemente Gordillo Foster" <
notifications@github.com>:

[2016-03-31 23:37] xbony2 commented on #372
Yes.

[2016-03-31 23:39] Mrkwtkr commented on #372
Yes

[2016-03-31 23:42] ganymedes01 commented on #372
I don't even remember ever contributing to this. So yes, you have my permission to do whatever you want.

[2016-03-31 23:51] Ghoughpteighbteau commented on #372
I remember contributing a small bit, I relinquish that small bit to you guys. Do what you think is right!

[2016-04-01 00:02] Lance5057 commented on #372
I'll allow it

[2016-04-01 00:34] kenzierocks commented on #372
I'm fine with it.

[2016-04-01 00:34] Zenith-One commented on #372
Fine by me.

[2016-04-01 01:00] allaryin commented on #372
Generally speaking, creative commons isn't appropriate for software. Most permissive open source mods use Apache.

[2016-04-01 01:07] xbony2 commented on #372
[code]
- CC website

[2016-04-01 01:08] allaryin commented on #372
https://wiki.creativecommons.org/index.php/Frequently_Asked_Questions#Can_I_apply_a_Creative_Commons_license_to_software.3F

[2016-04-01 01:09] xbony2 commented on #372
We're talking CC0 which is different.
[code]

[2016-04-01 01:11] allaryin commented on #372
Oh. CC0. Sorry, just saw what looked like one of the classic blunders. Carry on then ;)

[2016-04-01 06:41] hlaaftana commented on #372
idk what i did but sure

[2016-04-01 06:48] vidaj commented on #372
Go right ahead.

[2016-04-01 15:10] jaredlll08 commented on #372
Don't care what license you chooe, but go ahead

[2016-04-01 20:21] elifoster commented on #185
Okay, we really have 3 options for fixing this:
1. We can set an NBT value "hasTank" when the tank is added/removed, and check that before checking if it `hasPower`.
2. We can check the exosuit's upgrades every time we check its power.
3. We can store the steam in the tank itself, which might cause problems in the block's case.

@Divineaspect @xbony2 thoughts?

[2016-04-01 20:55] Divineaspect commented on #185
Slight preference for 2, in so far as I understand this.

[2016-04-01 21:10] elifoster commented on #185
Close by @e176a80.

[2016-04-01 21:10] #185 closed

[2016-04-01 21:51] elifoster commented on #352
This bug is half valid. It only happens if the steam filler runs out of steam (for example if you take the pipe away from it).

[2016-04-01 22:11] elifoster commented on #352
Upon even further investigation, it seems `getSteamShare` is returning either `3` or `9996`, which is making all the `getSteamShare > 0` conditions true. This is fucking bizarre.

[2016-04-03 19:07] elifoster opened #376 "An actual entry for the Creative steam tank"
Though I guess it's funny, the entry (below) is stupid. There should be an actual entry for it.
[code]
(with a bowl icon)

[2016-04-03 21:12] xbony2 commented on #376
boo

[2016-04-08 18:36] elifoster commented on #366
Oh yeah, [I guess it can't break obsidian](https://github.com/Esteemed-Innovation/Flaxbeards-Steam-Power/blob/master/src/main/java/flaxbeard/steamcraft/tile/TileEntitySmasher.java#L305). Hm.

[2016-04-09 03:16] elifoster commented on #364
This actually should be happening, as we call the same function that Minecraft does to generate village structures, which turns provided logs, planks, and cobblestone into desert equivalents.

[2016-04-09 03:20] 3TUSK commented on #364
@elifoster Hence it is actually a bug? If so, does the title need to change?

[2016-04-09 03:21] elifoster commented on #364
There we go.

[2016-04-09 03:26] elifoster commented on #307
This has been resolved a long while ago by @Lance5057 in #369

[2016-04-09 03:26] #307 closed

[2016-04-09 03:26] 3TUSK commented on #364
Ah, if necessary, the screenshot is from a pack that contains ChromatiCraft (probably v10d, cause I have updated it couple of times since then), Mekanism and AppliedEnergistics as well.

[2016-04-09 03:28] Divineaspect commented on #364
Confirmed, can reproduce without chromaticraft, mek, or AE.

[2016-04-09 05:42] #287 closed

[2016-04-11 04:25] elifoster commented on #336
Pretty certain this is because JadedTweaks doesn't remove the old recipes.

[2016-04-11 04:48] elifoster opened #377 "Book shift-click opens to last page in entry"
Instead of opening to the first page that describes the thing, it opens to the recipe entry. This appears to be by design, but it's quite annoying. I am, of course, referring to the shift-clicking functionality. An example of a thing that this issue actually effects is the Steam Filler.

[2016-04-11 05:20] #377 closed

[2016-04-14 17:47] elifoster opened #378 "TerraFirmaCraft water support"
The Archimedes Screw can pick up the TFC water, but the Boiler does not use it. This has been reported on the MCF thread. Perhaps we could simply convert TFC water into normal water when input into the boiler? That seems to be the easiest way to do it

@xbony2 Do you want to deal with this?

[2016-04-14 21:17] xbony2 commented on #378
TFC support is awfully low priority. TFC and pretty much all other mods don't really mesh together...

[2016-04-14 22:57] elifoster commented on #378
I was looking at the TFC forums earlier today, and it seemed like a lot of the TFC players also play FSP.

[2016-04-18 17:38] Divineaspect commented on #226
Can duplicate with dev build by loading up netflix and a torrent at the same time.

[2016-04-18 21:41] elifoster opened #380 "HarvestCraft compatibility"
We should be able to steam harvestcraft meats.

@xbony2

[2016-04-19 02:44] Infernalized opened #381 "Can't Create Then Join a New World"
## Bug description
I cant create and join a world that I made with Flaxbeard's even after restarting the instance.
## Base information
* Minecraft version:1.7.10
* Minecraft Forge version:10.13.4.1492-1.7.10
* Flaxbeard's Steam Power version:1.7.10-0.28.12

## Crash report
[code]
This is my FML latest
http://pastebin.com/hLN1PcQU

And here is my crash report
http://pastebin.com/MVSSpERJ

[2016-04-19 02:48] elifoster commented on #381
Can you provide your configuration file?

[2016-04-19 02:55] Infernalized commented on #381
Looks like it is the same, http://pastebin.com/VzCJHtQP sorry about that didn't mean to get a duplicate issue up here.

[2016-04-19 02:56] elifoster commented on #381
Try re-enabling the `Enable Copper Ore. This does not enable world generation of the ore, but will disable it if false.` option. Because of metadata, when that is turned off, it creates issues generating the other ore blocks.

[2016-04-19 03:01] Infernalized commented on #381
Okay, Thanks! That fixed it.

[2016-04-19 03:01] #381 closed

[2016-04-23 03:13] #337 closed

[2016-04-24 00:53] #250 closed

[2016-04-24 01:00] #251 closed

[2016-04-24 07:36] elifoster opened #384 "Quality of life tooltips"
From @mallrat208 on IRC.

[2016-04-24 12:16] Skyqula opened #385 "Crash when using a steam tool in a fake player"
## Bug description
Using a steam tool with either a Thaumic Tinkerers dynamism tablet or a Thermal Expansion autonomous activator causes a crash.

The dynamism tablet allows rejoining of the world, the autonomous activator however prevents world rejoining, making this a rather severe bug.

## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version: 10.13.4.1558-1.7.10
* Flaxbeard's

[2016-04-24 14:05] xbony2 commented on #385
We should make it so only real players can use steam tools.

[2016-04-24 14:06] Divineaspect commented on #385
Until we have our own fake player.

Jeremiah Grimsley

"All of humanity is in peril of extinction if each one of us does not dare,
now and henceforth, always to tell only the truth, and all the truth, and
to do so promptly — right now." - R Buckminster Fuller

On Sun, Apr 24, 2016 at 9:05 AM, xbony2 <notifications@github.com> wrote:

[2016-04-24 14:20] xbony2 commented on #385
"Fake players are cheaty and stupid" - Anonymous

[2016-04-24 15:21] elifoster commented on #385
I think I found the issue. These fake players don't ever call onUpdate, so the IdentityHashMap I made never gets the stack, ticks, and speed added to it. Then we try to set the nbt as if it is not null. A simple containsKey check should fix this. Should.

[2016-04-24 16:11] elifoster opened #386 "Minetweaker support"
Before we move onto 1.9, we need minetweaker support for people still playing 1.7. ModTweaker moved onto 1.8, so we have to add it ourselces. Thankfully it looks like their code is still up. See #327 for all the things.

[2016-04-24 21:03] renard162 opened #387 "Air Strike Conversion Kit wont work"
## Bug description
Air Strike Conversion Kit wont work

Testing in a clean minecraft only with forge and FSP the Air Strike wont work anymore. I receive the firerate boost when I'm on ground but when I use rocket jump the boost is gone.

https://youtu.be/LeFp4gAyZKY

## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version: 10.13.4.1614
* Flaxbeard's Steam Power version: 0.29.1

[2016-04-24 22:24] elifoster commented on #387
I've confirmed this bug.

[2016-04-24 23:10] #387 closed

[2016-04-24 23:31] Divineaspect commented on #385
Confirmed
http://pastebin.com/twTV768E

[2016-04-24 23:34] xbony2 commented on #328
I kind of don't want to finish this. No, not just because I'm damn lazy. 1.7.10 is losing ground; I strongly think the future of FSP is in 1.9. If FSP is stable and cool, maybe it'll be the big modpacks. But, NEI isn't in 1.9; JEI is the replacement for it. So, I don't really want to complete code that's just going to be dropped.

[2016-04-25 00:04] #385 closed

[2016-04-25 13:27] SvEgiiVEteR opened #388 "crash when start"
## Bug description
crash when start the game with the mod UniDict-1.3
http://minecraft.curseforge.com/projects/unidict
## Base information
* Minecraft version:1.7.10
* Minecraft Forge version:10.13.4.1614
* Flaxbeard's Steam Power version:0.29.1

## Crash report
https://gist.github.com/d5526c5618ba4757fe29f4eb3a4e9a36

[2016-04-25 13:54] Warrino opened #389 "Items do not stack as they should"
## Bug description
After i added this mod to my modpack, some items do not stack as they should.
When i remove this mod the bug disappears.
Example:
After I place torch and i break it, it don't stack with other torch. (change metadata)
## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version: 10.13.4.1614
* Flaxbeard's Steam Power version: 0.29.1

List mod:
- All infinity evolved

[2016-04-25 14:42] Divineaspect commented on #389
Confirmed.

[2016-04-25 15:37] elifoster commented on #388
It looks like UniDict is stupidly removing OreDictionary entries. Nothing I can really do about that except convince you to tell the author to stop doing that. When they do that, they are bound to have issues like this.

They are much better ways to handle OreDictionary unification, like installing one of the many mods that allows you to manually and automatically switch all items in an OreDict en

[2016-04-25 15:37] #388 closed

[2016-04-25 15:47] #389 closed

[2016-04-25 15:52] SvEgiiVEteR commented on #388
@elifoster I do not know how to tell him he does not have threads issues

three modes in the error involved. I find him and show you crash

[2016-04-25 15:57] elifoster commented on #388
I've told him that he shouldn't be deleting OreDict entries on his CF page.

[2016-04-25 16:02] SvEgiiVEteR commented on #388
industrialcraft-2-2.2.821-experimental.jar =)))))))
https://gist.github.com/f94ae474c20a643ba8456a841b066bb4
without industrialcraft game starts)

thank you) I do not know much English ... I would not be able to explain to him

[2016-04-25 17:25] elifoster opened #390 "Unable to fill Flash Boiler outside of slot"
## Bug description
It appears I am unable to fill a Flash Boiler using a fluid container unless I put it directly in the slot. This includes using the screw, and using a fluidcontainer directly on the block.

## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version: 10.13.4.1558-1.7.10
* Flaxbeard's Steam Power version: dev build

[2016-04-25 17:55] #390 closed

[2016-04-25 18:28] Divineaspect opened #391 "Leap actuator says it's a heel slot in the book, but is a foot slot in play"
## Bug description
Leap actuator says it's a heel slot in the book, but is a foot slot in play

## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version:
* Flaxbeard's Steam Power version: 0.29.2

## Crash report
[code]

[2016-04-25 18:32] Divineaspect opened #392 "SteamAxe on grass, Crash"
## Bug description
Steam axe with void  upgrade and lumber chain.

## Base information
* Minecraft version:1.7.10
* Minecraft Forge version:
* Flaxbeard's Steam Power version:0.29.2

## Crash report
[code]

[2016-04-25 18:33] Divineaspect opened #393 "Lumber Chain ineffective on MFR Rubber Trees"
## Bug description
Lumber Chain ineffective on MFR Rubber Trees
## Base information
* Minecraft version:1.7.10
* Minecraft Forge version:
* Flaxbeard's Steam Power version:0.29.2 dev build

## Crash report
[code]

[2016-04-25 18:40] elifoster commented on #393
Blame MFR. I'll submit a PR to MFR that would resolve this. They didn't register their logs to the log oredict.

[2016-04-25 18:47] elifoster commented on #393
I've submitted the PR at skyboy/MineFactoryReloaded#552. If it gets rejected, I'll add another rule to the OreDictHelper to assign leavesMaterial and woodMaterial to the leaves and logs, I guess. I'd prefer it just get merged though, so we don't get bad side effects like some random woodBlock from another mod getting treated as a tree.

[2016-04-25 19:05] Divineaspect commented on #392
Occurs with drill on grass as well.
Clarification, tall grass.

[2016-04-25 19:59] elifoster commented on #392
Fixed by the same thing that fixed #385

[2016-04-25 19:59] #392 closed

[2016-04-25 20:12] #391 closed

[2016-04-25 20:16] Divineaspect opened #394 "Void saw breaking a chest, crashes"
## Bug description
Void saw breaking a chest, crashes. Specifically when breaking the chest that the Void has been set to send to, but it might occur when breaking any old chest as well.

## Base information
* Minecraft version:1.7.10
* Minecraft Forge version:
* Flaxbeard's Steam Power version:0.29.2 dev build

## Crash report
[code]

[2016-04-25 20:18] SvEgiiVEteR commented on #388
That helped ))
 B:keepOneEntry=false

[2016-04-25 20:25] Divineaspect opened #395 "Void add on"
## Bug description
* [x] Needs an indicator, such as ender particles and an ender teleport noise.
* [x] Only works when a tool is fully charged, which needs to be noted in the book.

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version:

## Crash report
[code]

[2016-04-25 21:41] elifoster commented on #393
Set the milestone in case that PR doesn't get merged into MFR.

[2016-04-26 03:20] #394 closed

[2016-04-26 05:31] #395 closed

[2016-04-26 05:53] elifoster opened #396 "Steam Saw cannot efficiently break leaves"
## Description
This is ridiculous.

## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version:
* Flaxbeard's Steam Power version: 0.29

[2016-04-26 05:57] elifoster opened #397 "Rotary Blades and Big Drill work when mining ineffective blocks"
## Description
When mining blocks that the tools are not normally effective on, the area of effect still occurs. This is a problem, especially when mining things like tall grass.

## Base information
* Minecraft version: 1.7
* Minecraft Forge version:
* Flaxbeard's Steam Power version: 0.29

[2016-04-26 08:55] ParadoxBomb opened #398 "[intra-mod compat] Steam Drill not mining at correct levels"
## Description
When used with Tinkers' Construct, the Steam Drill seems to become unable to mine Obsidian due to the way that Tinkers' Construct changes harvest levels. This further breaks when Iguana's Tinker Tweaks is installed and the Harvest Level tweaks are enabled, as it seems to think that the steam drill is locked to Tin (iron) mining level, no matter the head or what custom values are add

[2016-04-26 18:44] elifoster commented on #398
The Steam Drill can't mine Obsidian unless you have a level 3 drill head installed (by default, only emerald and diamond provide this). I have TiCo installed in my dev environment and with a level 3 head, I'm able to mine obsidian.

I don't know what the harvest level tweaks do and I haven't played with Iguana Tweaks since I was playtesting FTB Monster before its release, so I can't really speak o

[2016-04-26 19:10] Divineaspect opened #399 "Saw breaks when it runs out of steam"
## Description

The saw broke when I was chopping my way through a natura redwood.

## Base information
* Minecraft version:1.7.10
* Minecraft Forge version:
* Flaxbeard's Steam Power version:0.29.2 dev

## Crash report
[code]

[2016-04-26 19:38] Divineaspect opened #400 "Steam Drill, diamond void isn't using the last 800 su no matter how I rev it."
## Description
Steam Drill, diamond void isn't using the last 800 su no matter how I rev it.
## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version:0.27.2dev

## Crash report
[code]

[2016-04-26 19:51] elifoster commented on #400
it is probably just using the Exosuit's steam.

[2016-04-26 19:58] #400 closed

[2016-04-26 20:52] #397 closed

[2016-04-26 21:03] elifoster commented on #396
This appears to have been fixed at some point in the last day or so. I don't really know when.

[2016-04-26 21:03] #396 closed

[2016-04-26 21:03] elifoster commented on #399
Does it only happen when you have the Timber Chain installed? That was the only way I could reproduce it in my development environment.

[2016-04-26 23:40] Glowstonesword opened #401 "NBT Tags creating unstackable items."
## Description
The latest version of Flaxbeard's Steam Power is creating null data tags on the use of any items in hitting a block called 'Speed' and 'Ticks'. This prevents the item from being stacked with 'normal' versions of itself (i.e newly mined items or spawned from creative). Once placed and broken, the tags are removed until a block is again hit with the item in hand. The tags apply to an

[2016-04-26 23:40] elifoster commented on #401
Duplicate of #389 and fixed in next version. For now, just use steam tools or your hands to break stuff.

[2016-04-26 23:41] #401 closed

[2016-04-28 08:59] sieb commented on #380
Good idea !

[2016-04-28 16:22] Divineaspect opened #402 "Steam saw with timber chain not drawing from tank."
## Description

Doesn't draw from the exosuit tank
If it wouldn't have a enough steam per block broken it just breaks one with timber chain

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version: 8ebd

## Crash report
[code]

[2016-04-28 16:38] Divineaspect opened #403 "Resubmit Rocketeer Helmet Feature request"
## Description

This exosuit helmet upgrade allows you to use the steam jetpack to move horizontally. The speed efficency increases with altitude, minimum of 256, so as to avoid many chunkloading / chunk creation issues.

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version:

## Crash report
[code]

[2016-04-28 16:52] Divineaspect opened #404 "Exosuit Slots make little to no sense with upgrades"
## Description

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version:

## Crash report
[code]

[2016-04-28 17:30] elifoster commented on #403
I don't quite understand what you mean by the chunk/256 stuff.

[2016-04-28 17:31] elifoster commented on #404
How so?

[2016-04-28 17:40] Divineaspect commented on #399
just got the same issue with a steam drill.

[2016-04-28 17:41] Divineaspect commented on #404
For example: Rebreather and Tophat use the same slot, dispite one being atop the head, the other in front of the face.

[2016-04-28 18:10] Divineaspect commented on #403
y height, 256 is the default maximum world height.

[2016-04-28 18:16] Divineaspect commented on #403
lateral flight can stress server worldgen.

[2016-04-28 18:36] elifoster commented on #399
With what upgrade(s)? I am going to go and change all setDamage or damageItem calls to addSteam calls, because they are superior.

[2016-04-28 18:36] elifoster commented on #404
It's a trivial change, so if you could provide a list of what doesn't make sense and perhaps the slot that they should be in, that'd be good.

[2016-04-29 03:03] elifoster opened #405 "ConnectPacket NullPointerException"
## Description
When connecting pipes with the Pipe Wrench, a NullPointerException is raised in the ConnectPacket.

## Base information
* Minecraft version: 1.7
* Minecraft Forge version: meh
* Flaxbeard's Steam Power version: blargh

## Crash report
No crash, but it kicks the player from the game and produces this stacktrace.
[code]

[2016-04-29 04:29] #399 closed

[2016-04-29 04:29] #402 closed

[2016-04-29 18:27] elifoster commented on #405
Stacktrace when using the world from the serverHandler:

[code]

[2016-04-29 18:38] Divineaspect opened #406 "Add destination block coordinates to the void's tooltip, feature request."

[2016-04-29 18:56] #405 closed

[2016-04-29 18:56] Divineaspect opened #407 "The void destroying items if enderchest is full"
## Description

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version: 0.29.1-95c

## Crash report
[code]

[2016-04-29 18:58] Divineaspect opened #408 "cntrl clicking on the lumber chain connects you to the exosuit page."
## Description

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version:

## Crash report
[code]

[2016-04-29 19:20] Divineaspect commented on #404
actually that was the main one, but the foot upgrades don't feel consistent.

[2016-04-29 19:23] #407 closed

[2016-04-29 20:25] #406 closed

[2016-04-30 06:07] elifoster commented on #386
Close by 17ce180

[2016-04-30 06:07] #386 closed

[2016-04-30 06:22] elifoster commented on #393
I'd rather not special case it, actually. If that PR doesn't get merged, just add the logs to the proper oredict entry using minetweaker.

[2016-04-30 06:22] #393 closed

[2016-04-30 20:55] elifoster commented on #408
I'm not able to reproduce this.

[2016-05-02 16:58] Divineaspect opened #409 "Dragon Roar mounting on head not face"
## Description

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version: 0e7

## Crash report
[code]

[2016-05-02 17:06] Divineaspect opened #410 "Precisce cutting head, not doing so."
## Description

Testing on glowstone and it's dropping dust rather then blocks.
Does seem to ignore mining levels beyond what  a diamond tool can. As tested with TinCon ores.

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version:

## Crash report
[code]

[2016-05-02 17:17] Divineaspect opened #411 "Increase leaf blower area to 9^3"
## Description

Ineffective at it's stated purpose

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power version:

## Crash report
[code]

[2016-05-02 17:19] Divineaspect opened #412 "Forestfire needs to place fire more places"
## Description

Because the effect of the forest fire is keyed to breaking blocks, it's not actually helpful in spreading  fire. It also doesn't seem to clear grass, or leaves, because those are seldom adjacent to logs.

Have it work on Leaves as well, and in a cube rather then just on the same y level?

## Base information
* Minecraft version:
* Minecraft Forge version:
* Flaxbeard's Steam Power

[2016-05-02 17:19] Divineaspect commented on #412
Alternately have it throw fire around when spinning up?
This would make more sense with the completely modular tool.

[2016-05-03 17:39] SHWB opened #413 "Unequipping empty exosuit does not remove slow condition."
## Description

The title is self explanatory.
This is replicable following these steps:

1. Obtain a cool exosuit by crafting or cheating, and add a tank to it.
2. Wear it: you'll be slowed down because it's unpowered.
3. Take it off with no particular order: the slow effect persists.

There are similar oddities when interacting with the armor stand from Bibliocraft. I'm not sure if I should open

[2016-05-03 17:49] elifoster commented on #413
Yep, already fixed in the next version. Close by bc5c95d

[2016-05-03 17:49] #413 closed

[2016-05-03 18:16] #404 closed

[2016-05-03 18:16] #409 closed

[2016-05-04 01:06] #411 closed

[2016-05-04 01:06] #412 closed

[2016-05-04 03:35] #410 closed

[2016-05-04 11:00] GreatOrator opened #414 "Crash at Initialization"
## Description
Since 0.29.0, still happening at 0.29.2, on startup during initialization phase flaxbeard's crashes to desktop.

## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version: 1566
* Flaxbeard's Steam Power version: 0.29.0 - 0.29.2

## Crash report
http://pastebin.com/dmxcktZN

[2016-05-04 14:44] elifoster commented on #414
Can you provide your config?

[2016-05-04 15:51] GreatOrator commented on #414
Why yes I can...I just push updates so the most recent config is on my repo:

https://github.com/GreatOrator/TolkienCraftII/blob/master/client/minecraft/config/FlaxbeardsSteamPower.cfg

[2016-05-04 16:11] elifoster commented on #414
You seem to have a bunch of duplicated config options there, some which have different values from one another (see Revolver enhancement). That is probably what is causing this. Try regenerating the config from scratch and adding the tweaks you have to the fresh one. At some point a long time ago I cleaned up grammar in the config, which is probably where these duplicated options came from.

[2016-05-04 16:16] GreatOrator commented on #414
Makes perfect sense...will try that when I get home tonight and let you know if it worked.  I have seen duplication in other configs before but had not thought to check that for this.

[2016-05-04 23:24] GreatOrator commented on #414
Yup, the config was the problem, thanks for pointing that out! :100:

[2016-05-04 23:24] #414 closed

[2016-05-05 13:36] renard162 opened #415 "Rocket launcher receiving bonus without kit"
## Description
The buff from air strike conversion kit still applies to unmodded launcher and when I'm on ground.

https://youtu.be/NS6fwW8KOGY

## Base information
Clean install with only Forge and FSP.
* Minecraft version: 1.7.10
* Minecraft Forge version: 10.13.4.1614
* Flaxbeard's Steam Power version: 0.29.2

[2016-05-05 17:14] Divineaspect opened #416 "Feature: Consistent Redstone Control"
Fans, Vacuums, Crushers, Heaters, etc should all be disabled by a redstone signal.

[2016-05-07 23:28] Nygmus opened #420 "Stone Grinder in need of blacklist capabilities"
## Description
The Stone Grinder drill upgrade badly needs a config-level blacklist. In addition to worthless materials like Mana-Infused Metal (TE) and alloys (Tinker's Steel, Immersive Engineering Constantan, Tinker's Aluminum Brass), it's producing nuggets of rare ores like Ardite/Cobalt and expensive magical ones like Botania Terrasteel and Elementium.

## Base information
* Minecraft version:

[2016-05-08 03:07] elifoster commented on #420
I think another good solution might be to use the sneak key to disable upgrade functionality in general.

[2016-05-08 04:07] Nygmus commented on #420
Possibly, but the problem isn't the grinder needing to be disabled; the problem is that the grinder is generating things that it really, really shouldn't be.

An interim solution might be to limit the stone grinder to producing nuggets of vanilla/FSP metals only; it's cross-mod interaction causing the problem.

[2016-05-08 04:10] elifoster commented on #420
Oh yeah I think there should definitely be a config. I was just brainstorming.

[2016-05-10 13:14] SHWB opened #427 "Filling a boiler almost full of water consumes the bucket"
## Description

1. Completely fill a boiler.
2. Let it start process a piece of coal or other fuel, so that a little water is consumed.
3. Right-click the boiler with a bucket of water: the boiler will fill but no empty bucket will be given back to the player.

I know it's not much important because you'd usually fill it with an Archimedes' screw or pipes, but still reporting this.

## Base inform

[2016-05-12 05:21] Shurik1236 opened #434 "Overclocker slows down or speeds up?"
"Overclocker" ускоряет или замедляет в 2,5 раза? / (Google) "Overclocker" speeds up or slows down in 2.5?
https://youtu.be/NiUawD3itZ0
- Minecraft version: 1.7.10
- Minecraft Forge version: 1566
- Flaxbeard's Steam Power version: 0.29.2

[2016-05-13 16:15] kwpugh commented on #389
For folks that updated to 29.2, are you still seeing this problem?   Because I am still having the problem on my server.

[2016-05-13 20:15] elifoster commented on #389
With items that already have the tags?

[2016-05-13 20:20] kwpugh commented on #389
I don't have any tools (that I know of) to see what tags the items have.   Is there a way to do that?

[2016-05-13 23:52] elifoster commented on #389
Use MineTweaker /mt hand.

[2016-05-14 17:52] Omuck3 opened #437 "Minetweaker & FSP"
I am trying to add/remove crucible recipes with MineTweaker.  I have ModTweaker installed, as well.  My Minecraft version is 1.7.10, Forge version 10.13.4.1614.  My FSP version is 0.29.2, which I thought had MineTweaker integration.

The script I'm using is:

[code]

The removeMeltRecipe is from [here](https://github.com/Esteemed-Innovation/Flaxbeards-Steam-Power/commit/17ce180413ac1151867cae66837

[2016-05-14 18:07] elifoster commented on #437
liquidIron is not a crucible liquid. The liquid names added by FSP are:
* `iron`
* `gold`
* `zinc`
* `copper`
* `brass`

as you can see [here](https://github.com/Esteemed-Innovation/Flaxbeards-Steam-Power/blob/master/src/main/java/flaxbeard/steamcraft/SteamcraftRecipes.java#L41-L54)

[2016-05-14 22:53] Nezraddin opened #438 "Coal burning time, bugged?"
Hello.

I'm actually not really sure if that is a bug or is part of the "Flash Boiler now properly updates the heat countdown"-fix. But it kinda looks like a bug to me:

I have a system of 1 flashboiler, 8 steam tanks.
Before the update to the 0.29.1 version (modpack uses this version, but I tested the 0.29.2 version, too, same issue) dropping two charcoal with droppers inside raised it around 2~4

[2016-05-15 02:09] Omuck3 commented on #437
The issue is with removeMeltRecipe

[2016-05-15 02:17] elifoster commented on #438
IIRC that fix was purely client side, so it's not related to this.

[2016-05-15 02:20] elifoster commented on #437
First, you need to call it as mods.fsp.Crucible.removeMeltRecipe, not just removeMeltRecipe.

Second, you need to give it a liquid that exists (see my previous posts for the default ones; there are some more from cross mod integration but those are the main ones).

Third, might not be an issue, but smashedOre is a metadata item, so your recipes probably won't work as you expect unless you give it

[2016-05-15 02:23] Omuck3 commented on #437
`mods.fsp.Crucible.removeMeltRecipe(iron);`

It says that there is "no such static member in mods.fsp.Crucibe.removeMeltRecipe" and that "any values not yet supported."

[2016-05-15 03:26] elifoster commented on #437
If the error is exactly `no such static member in mods.fsp.Crucibe.removeMeltRecipe`, then it's likely you misspelled `Crucible`. You also forgot the first parameter which is an IItemStack IIRC. You also need to wrap `iron` in quotation marks, as it takes a String `"iron"`. I recommend taking a look at the docs, http://ftb.gamepedia.com/Using_MineTweaker_and_Flaxbeard's_Steam_Power, as well as loo

[2016-05-15 13:04] Omuck3 commented on #437
Ok, thanks.  When I had it in quotations, I got this crazily long error.  I'll look at the spelling and see what happens.

[2016-05-15 13:36] Omuck3 commented on #437
Well, turns out I spelled `Crucible` correctly the first time around.  The error regarding the static member continues.  My code is currently:

[code]

[2016-05-15 17:38] elifoster commented on #437
addMelting is not a function. There is addMeltRecipe, addOreMeltRecipe, and addToolMeltRecipe.

[2016-05-15 19:53] b0bst3r opened #439 "crash when trying to modify Traveller's gear"
## Description
I am trying to put moss on my traveller's boots. When I put the boots in a crafting station,there is an instant crash. When I try and use a tool station, it allows me to put in the boots, but when I try to modify them, it crashes. Doesn't happen when I try to modify a TC tool, but it does happen when I try to modify the goggles or other traveller's gear.

## Base information
* Minec

[2016-05-15 19:56] Omuck3 commented on #437
I fixed that line, but there's still an error about the static member in the first line.  Is there any way for me to fix it?

[2016-05-15 22:22] Omuck3 commented on #437
Just an update.  So I think I'm using all the correct code, yet it continues to simply not.  The third line is just me testing.
[code]

[2016-05-15 22:57] elifoster commented on #439
@Lance5057 Do you know anything 'bout this? This issue is moderately confusing to me :P

[2016-05-15 22:58] elifoster commented on #437
What is the exact error, if any? Also, addOreMeltRecipe takes a string, not an itemstack (`mods.fsp.Crucible.addOreMeltRecipe("oreIron", "iron", 5);`)

[2016-05-15 23:37] Omuck3 commented on #437
[code]

[2016-05-15 23:43] elifoster commented on #437
Does this occur when you initially load the game/world, or are you using /mt reload? I specified in the changelog that /mt reload will not work.

[2016-05-15 23:46] Omuck3 commented on #437
Both.

[2016-05-16 01:31] Omuck3 commented on #437
Well, technically when I intially load.  I tested it with just FSP, Minetweaker, and Modtweaker.

[2016-05-16 07:37] mallrat208 commented on #437
So as an independent test, I made a new instance with the most recent version of Forge for 1.7.10, Minetweaker, and FSP
[code]
And that works as you would expect

[2016-05-16 17:53] mallrat208 commented on #439
The code for the Steam modifier makes the assumption that the item placed in the table will bee a Tinkers Tool and casts the item as such. The problem being that Tinkers armor is an instance of ArmorCore, not ToolCore. The only thing the two classes have in common is what they inherent from Item.

[code]

[2016-05-16 17:55] Lance5057 commented on #439
Ah, I did not account for travellers gear. I'll fix it when I get home.

[2016-05-16 21:17] Omuck3 commented on #437
It's not working.  I just copied your code.

I got this:
[17:16:44] [Client thread/INFO]: [CHAT] ERROR: Cast Iron.zs:3 > No such static member in mods.fsp.Crucible: removeMeltRecipe
[17:16:44] [Client thread/INFO]: [CHAT] ERROR: Error executing Cast Iron.zs: 1

[2016-05-16 21:26] Omuck3 commented on #437
Ok, so I changed my forge version, and appears to work.  But I got the a "WARNING: 1 modifications were stuck" when I made a new world.  I did /mt reload to see what happened, and every time I got that warning with an increased number.

[2016-05-16 21:40] elifoster commented on #437
Have you tried reinstalling FSP? I am seriously confused by this issue.

[2016-05-16 21:51] Omuck3 commented on #437
It's functioning now, but I'll try that in a little bit.

[2016-05-16 23:43] Omuck3 commented on #437
Well, it turns out that it continues to not work, with the same issue, in the modpack.  I've updated forge and FSP.  Still the same error.  And yet it works on vanilla.  Could it be some sort of mod conflict?

[2016-05-17 04:51] elifoster commented on #437
I can't see why there would be, but I wouldn't rule out that possibility entirely just because of how little this makes sense...

[2016-05-17 22:25] Omuck3 commented on #437
Tried it with what I saw as the "core" mods of the pack.  Still didn't work, same error.  In the chat, it was under the initialization of Better Beginnings.  So I took that out, and the error persisted.  With just FSP, minetweaker, and modtweaker it didn't work.  The error is ```
[18:24:07] [Client thread/INFO]: [CHAT] ERROR: Cast Iron.zs:5 > No such static member in mods.fsp.Crucible: removeMeltR

[2016-05-17 23:38] Omuck3 commented on #437
**I HAVE DISCOVERED THE ISSUE.  IT'S MODTWEAKER!**

[2016-05-18 01:56] elifoster commented on #437
Oh, that actually makes perfect sense. IIRC they have broken fsp integration. @jaredlll08

[2016-05-18 03:43] mallrat208 commented on #437
Success!

[2016-05-19 20:50] ParadoxBomb commented on #398
Well now I feel silly. After some further testing, it seems that I was jumping to conclusions based on the WAILA Habitability tooltip improperly showing the drill being unable to mine obsidian. When a diamond head is applied to the tool, it functions properly, as does the manyullin drill head that I json'd in. My most sincere apologies.

[2016-05-19 22:35] #398 closed

[2016-05-20 00:43] elifoster commented on #398
No need to apologize :smile:

[2016-05-20 20:03] elifoster commented on #439
@Lance5057 Any word on this?

[2016-05-21 02:39] Lance5057 commented on #439
This has been fixed.

[2016-05-21 02:45] elifoster commented on #439
You can close issues ya know :P

[2016-05-21 02:45] #439 closed

[2016-06-12 01:16] elifoster opened #447 "World-dependent ores"
## Description

Right now, our ores change texture depending on the dimension currently in. Instead, I think it would be better to have an End set and a Nether set, which keep their "dimension" regardless of the current dimension. It would also prevent NPEs that Xbony2 saw with JourneyMap because we won't need to get the dimension in getIcon. Should be pretty easy with just some basic block state

[2016-06-14 11:20] GreatOrator opened #448 "Client Crash on load"
## Description

So this crash happens if I change any of the default options of the config.  I literally have to delete the config, let it regen and never, ever touch it.  If i make a change, the client crashes.

The only changes I try to make are gun to false, and stop generation of ore since I am letting cofh handle that.
## Base information
- Minecraft version: 1.7.10
- Minecraft Forge version:

[2016-06-14 16:32] elifoster commented on #448
What happens if you leave the gun one to true, but disable ore gen?

[2016-06-14 17:17] GreatOrator commented on #448
Either of those options changed causes a crash for me, but I can test again later today after work.

FYI:  Originally I thought it was the config needing to be regenned after updating the mod until today when I realized it was happening when I made any config changes.

[2016-06-14 17:31] elifoster commented on #448
Well, the crash in the original post is because an item that is used in crafting recipes got disabled.

[2016-06-14 20:06] GreatOrator commented on #448
Really?  what other config options should I disable along with that then?  I can give it a shot (keep in mind, this was being done after having been up for 1 hour, so results may vary based on cognitive ability) but it begs the question why would it be there to disable and not have some kind of error checking to auto disable whatever related features rely on it?

[2016-06-14 20:13] elifoster commented on #448
Hm. I took a look at line 590, and it is trying to use the Brass Piston (I think. Either that or the Turbine). AFAIK that shouldn't ever get disabled... In 1.7, the config/enabling/disabling/recipe stuff is such a mess. I'd recommend just using MT to disable the recipes for the things you want to disable, and waiting for the 1.9 update which cleans up a bunch of this stuff and will prevent errors

[2016-06-14 21:16] GreatOrator commented on #448
well I was disabling the gun and the two ores, not the piston....but I don't use minetweaker though worse case I do use crafting manager and I should be able to disable the gun there if need be

[2016-06-15 02:50] Omuck3 commented on #437
Hi again.  Would it be possible for me to have Modtweaker installed, but keep it from interfering with FSP?

[2016-06-15 03:16] elifoster commented on #437
You'd have to decompile it and remove the fsp integration.

[2016-06-15 13:43] Omuck3 commented on #437
But didn't it drop FSP integration?

[2016-06-15 13:44] jaredlll08 commented on #437
I'm fairly sure that we removed FsP support,  like not just commenting it
out, like full on deleted it, so I doubt the problem is us
On Jun 15, 2016 3:43 PM, "Omuck3" notifications@github.com wrote:

[2016-06-15 13:49] Omuck3 commented on #437
There's a folder for FSP in the modtweaker file.  If I delete that folder, would it fix the problem?

[2016-06-15 16:15] elifoster commented on #437
It should. Try it and report back :smile:

[2016-06-15 16:17] jaredlll08 commented on #437
Also just checked, apparently I never removed it... According to github
anyway
On Jun 15, 2016 6:15 PM, "Eli Clemente Gordillo Foster" <
notifications@github.com> wrote:

[2016-06-15 17:20] Omuck3 commented on #437
If I delete the fsp folder I get an error:

`cpw.mods.fml.common.LoaderException: java.lang.NoClassDefFoundError: modtweaker2/mods/fsp/Steamcraft`

[2016-06-15 17:31] elifoster commented on #437
Ah yeah. You'll have to modify the other source files and remove all references of it. Or Jared could do that and push a new release of mt 😉

[2016-06-15 17:32] Omuck3 commented on #437
That would be nice. :) @jaredlll08

[2016-06-17 17:29] Voidi commented on #437
Please test http://ci.tterrag.com/job/ModTweaker2/172/

[2016-06-21 12:07] xbony2 commented on #372
Who are we missing?

[2016-06-21 12:09] Kris1432 commented on #372
Hey, sorry, I approve.

[2016-06-21 12:21] xbony2 commented on #372
Let's see....
- ~~Flaxbeard~~
- @dmillerw ?
- ~~Gholuk~~
- @devFozgul ?
- @al-myr ?
- ~~Vexatos~~
- ~~Adaptivity~~
- @mymagadsl ?
- ~~Strikingwolf~~
- ~~CodeAlchemist-T~~
- ~~probably don't need waffle-iron~~
- @ChrisLangley ?
- @PaperTriangle ?
- @Juput ?

[2016-06-21 12:26] labpaw commented on #372
@xbony2 you can relicense my contributions to any license. My contribution belongs to you and Esteemed Innovation team.

[2016-06-21 16:15] elifoster commented on #372
Flax and Striking gave the ok on IRC. Waffle-iron is a bot.

[2016-06-21 18:14] kindlich opened #455 "Internal Server Error when using the Pyrophobic Coatings in the Exosuit Boots to float on Lava while playing on a Server"
## Description

Well, the title sais it all xD
When having the Pyrophobic Coatings upgrade (the one allowing you to walk on lava) in your ExoSuit, you get an internal Server Error when touching lava.
It only happens on a server though...
Tested with only FSP and it still happens!
## Base information
- Minecraft version: 1.7.10
- Minecraft Forge version: 1614
- Flaxbeard's Steam Power version: 0.29

[2016-06-21 18:51] elifoster commented on #455
I don't see any error in that log...

[2016-06-21 18:54] kindlich commented on #455
Me neither, but I had to add something xD

[2016-06-21 18:57] elifoster commented on #455
I can't really do anything unless I see the error :frowning:

[2016-06-21 19:32] xadaemon commented on #372
You have express consent from me to change the licence to any you may want as long as it stays open source software.

[2016-06-22 12:29] Gholuk commented on #372
I am fine with it. Open Source!

[2016-06-22 18:34] Vexatos commented on #372
I only contributed parts of a lang file. License it however you want, although I would prefer it to stay open-source.

[2016-06-27 05:35] ImportsExports commented on #455
Same issue here, works fine in single player but when on a server it kicks the user when they touch lava.  I do however have the server side error log which might help some.
Edit: The log I posted was when they logged in already touching lava, its slightly different from when they first touched it and were kicked.

Logged in and touched lava

[code]

Attempting to log in touching lava

[code]

[2016-06-27 16:30] elifoster commented on #455
Ah, yep. Trying to use the Minecraft class while on the server. That line also uses the wrong method to check if the key bind is down 😲

[2016-06-27 19:06] elifoster opened #456 "Third person journal entries"
## Description

When you are in third person view, the book reads in third person as well. However, there are a few issues with this.
- First, it does not handle context very well. It blindly replaces "have" with "has", so we get weird things like "they has exosuits".
- Second, it only handles English. We should be striving to make EI as accessible as possible. We need to handle third person stuff

[2016-06-27 20:47] xbony2 commented on #456
[code]

wat

[2016-06-28 01:38] elifoster commented on #456
In first person view, the book uses first person pov, eg "I made steam shit". In third person view, the book uses third person pov, eg "They made steam shit".

[2016-06-28 13:10] xbony2 commented on #456
According to Flaxbeard this is an easter egg and doesn't really need any attention.

[2016-06-28 16:39] elifoster commented on #456
All bugs need attention.

[2016-06-29 00:22] godemperoroftheworld opened #457 "Always taking fall damage on server with jetpack"
## Description

On a client, if i fall with a jetpack, and use the jetpack to slow my fall at the end, i dont take damage. On the server, no matter how slowly I land, i take full fall damage.
## Base information
- Minecraft version: 1.7.10
- Minecraft Forge version: 10.13.4.1558 and 10.13.4.1614
- Flaxbeard's Steam Power version: 0.29.3
## Crash report

[code]

Not applicable

[2016-06-29 00:43] godemperoroftheworld commented on #457
A clarification. This initially occured in a modpack with 138 mods.
I tested with FSP isolated (completely) and the issue still occured
I tested using a vanilla forge server instead of cauldron and the issue still occured
I tested with mod version 0.29.2 as well, the issue still occured there.

[2016-06-29 15:28] godemperoroftheworld commented on #457
https://www.youtube.com/watch?v=_k8mUr5i9Qc&feature=youtu.be
That would be a recording of the glitch.

Also, would this be the code that handles fall damage for jetpacks? (located in main/java/flaxbeard/steamcraft/packet):
http://pastebin.com/q0THizu5

[2016-06-29 15:43] godemperoroftheworld commented on #427
Can confirm. Occurs to me as well.

[2016-07-02 11:24] CasinoR commented on #457
This also happen when flying with vaccum and fans.

[2016-07-16 23:40] elifoster commented on #447
Close by 386f15e

[2016-07-16 23:40] #447 closed, assigned to elifoster

[2016-07-21 08:19] bookerthegeek opened #458 "Invalid shaped ore recipe"
## Description

When disabling the smasher, receive a CTD due to an "Invalid shaped ore recipe". This is due to the "Internal Processing Unit" requiring the smasher to craft. Suggest either dynamically setting the recipe for that to use a piston if the smasher is disabled, or also disabling it in addition to the smasher.
## Base information
- Minecraft version: 1.7.10
- Minecraft Forge version: 10

[2016-07-21 19:56] elifoster opened #459 "Baubles inventory in Engineering Table"
## Description

For the future of engineerable baubles, which would be totally cool, it might be beneficial to add the baubles inventory button and stuff to the Engineering Table. I'm just not sure how we'd do it without stretching the GUI or changing its size, which might be shitty for people with non standard GUI scales (so auto, small, and large, basically).

[2016-08-11 17:08] Greystoke opened #460 "Exosuit Vibrant Plates Teleport Player into Solid Wall"
When activated by low health, the teleportation effect from Vibrant Exosuit plates moves player into solid walls/floors instead of adjacent open space.  Effect seems to move player backwards; if player has back to a wall, effect transports player into wall.
## Base information
- Minecraft version: 1.7.10
- Minecraft Forge version:
- Flaxbeard's Steam Power version: 0.29.3
## Crash report

[code]

[2016-08-29 23:37] #420 closed

[2016-08-31 06:10] elifoster commented on #160
07eff13a09eb00a2dc7b4de5adeb4ac6fe1cee40

[2016-08-31 06:11] #160 closed

[2016-08-31 08:28] bookerthegeek opened #461 "Crash when using /help"
## Description
- Typing `/help` in game will cause a Crash to Desktop
## Base information
- Minecraft version: `1.7.10`
- Minecraft Forge version: `10.13.4.1614`
- Flaxbeard's Steam Power version: `FSP-1.7.10-0.29.3`
- Pack: `Bevo Tech Pack`
## Crash report
- [Mod Pack Crash](https://gist.github.com/bookerthegeek/3d6d7b3feb27cd459427ba9757f85e6e)
- [Original Report](https://github.com/BevoTechPack

[2016-08-31 22:05] elifoster opened #462 "Altitude effects pressure"
## Description

The altitude of the steam network should affect the rate at which pressure rises. Specifically, altitudes which are above and below sea level gradually have higher atmospheric pressure. So, for our purposes, a steam network which is significantly above sea level or significantly below sea level should make pressure rise much quicker. This not only provides a purpose for the Altimet

[2016-09-01 19:06] elifoster opened #463 "Art needed for 1.0.0"
@Lance5057 This is a list of all the models and textures that we need for 1.0.0. If you'd prefer we do this some other way, we can do that. I figured this is better than just $tell-ing you all the things.
- [x] Zinc research table: Single block table made of zinc for the top and sticks for the legs.
- [x] Microscope: Placed on top of the research table on the right hand side, should aim over the p

[2016-09-01 21:13] #462 closed, assigned to nobody

[2016-09-15 07:03] elifoster commented on #328
@xbony2 Everything that requires a JEI recipe thing is functional in 1.10, so you can continue working on this :smile:

[2016-09-15 07:17] elifoster commented on #256
The fans are not currently able to accept steam from any side but the back, because it is very thin and it would look bizarre. We'd either need a new model that is thick enough such that the pipes visually connect properly, or some other way to logically get steam into the fan not through the back. IIRC Vacuums do not have this problem.

[2016-09-27 00:02] ghost opened #464 "Forestry compatibility = bronze, tin and gear mold"
I don't know if this would be possible but would be cool to have bronze alloy from forestry, tin , and gear mold support.

Bronze = 3 copper + 1 tin in the Crucible
Bronze would be durability of stone and damage of iron and speed of brass.

Tin =  just straight up tin ingots
Tin tools would be durability of wood and damage of stone and faster than brass.

Gear mold would be a whole new thing that

[2016-09-27 02:59] elifoster commented on #464
I wouldn't add new toolsets for the materials, I would simply oredict the ingots to allow them to be used the existing tools from other mods.

[2016-09-27 03:13] ghost commented on #464
@elifoster If you add Tin liquid and Bronze alloy liquids and melt recipes then it should support  any mod with tin or bronze .

My MT3 script  does this like so

[code]

[2016-09-27 03:16] elifoster commented on #464
Yeah I know. I'm just saying I'm not going to add a whole new set of tin and bronze tools.

[2016-09-27 03:17] ghost commented on #464
Oh I understand! Np. What about gear mold? Would that be something you would be interested in? It would be a step above ingot. Maybe 5 ingot liquid = 1 gear.

[2016-09-27 03:19] elifoster commented on #464
It's definitely something I've considered for mod compatibility. I'll have to look into how expensive gears are and all that stuff.

[2016-09-27 04:11] Drullkus commented on #464
@elifoster Gears are worth 4 materials each. Applied Thaumagistics has Gears costing 3, plus plenty of vis.

[2016-09-27 04:13] elifoster commented on #464
4 materials meaning 4 nuggets?

[2016-09-27 04:14] Drullkus commented on #464
No, ingots. 4 ingotGold = 1 gearGold, 4 ingotInvar = 1 gearInvar, etc

[2016-09-27 04:18] elifoster commented on #464
Ah, so 36 units, gotcha :+1: thanks

[2016-09-27 04:50] ghost commented on #464
I'd say about 4/5 ingots per gear is standard.  Forestry is 5 ingots. IE2 is 4 ingots. You guys use   4 ingots and 1 nugget for a turbine. Is because the crafting shape is like a + sign in the crafting table.  Turbine could be made from a generic cast gear plus another part .

This would cover pretty much anything basic.

The only one other mold I can think of that could be useful is  a cylinder/p

[2016-10-04 20:51] dmillerw commented on #372
You have express consent from me to change the licence to any you may want as long as it stays open source software.

[2016-10-07 02:12] PaperTriangle commented on #372
I'm fine with it.

[2016-10-16 03:26] #341 closed

[2016-10-16 06:36] #372 closed

[2016-10-18 19:24] Divineaspect opened #465 "Borax!"
Add Borax
https://en.wikipedia.org/wiki/Borax

This powder when used transforms silverfish blocks (and equivalents if we can manage it) back into their non monster egg forms in an area.

When added to the crucible with iron, it makes iron into Purified Iron, and generates slag.

Borax generates in Desert or Dry type biomes, and can replace stained clay in mesa biomes.

[2016-10-18 19:33] Divineaspect opened #466 "Soil Sampling kit recipe"
Iron Shovel, 3 bottles of water, 1 bonemeal, 1 sugar, one kit bag.

[2016-10-18 19:35] elifoster commented on #466
~~kit bag?~~ #467

[2016-10-18 19:36] Divineaspect opened #467 "Ingredient: Kit bag"
it's a piece of wool, hide, or leather and a string.
If placed in your hotbar and used and it's empty it picks up all the other items in your hotbar.
If used it empties itself into your inventory, hotbar first, and ordered.

creative and mob drop version has random stuff in it, like chunks of ore, ammo, or other things we want to hand out.

[2016-10-18 19:41] elifoster commented on #467
For creative/mob drop versions it might be useful to use loot tables, which would be configurable.

[2016-10-26 05:03] elifoster opened #468 "Hard dependency Baubles"
## Description

The `item` in `GadgetItems` for the steam cell filler is null when Baubles is not installed. This results in an NPE in registerModels.
## Base information
- Minecraft version: 1.10
- Minecraft Forge version:
- Flaxbeard's Steam Power version:
## Crash report

[code]

[2016-10-29 21:00] elifoster commented on #457
@CasinoR Can you open another ticket for the vacuum and fan issue?

[2016-10-31 05:54] #457 closed, assigned to nobody

[2016-11-01 06:00] elifoster commented on #311
I think a better way to do this would be to create a new extended bounding box that only exists in the TE to check for colliding entities.

[2016-11-01 06:53] #467 closed, assigned to nobody

[2016-11-01 18:13] #466 closed, assigned to nobody

[2016-11-21 21:58] #437 closed

[2016-12-12 07:30] belathus opened #469 "[1.10.2] Client Crash when looking at a villager with TheOneProbe equipped"
## Description
Looking at a villager with The One Probe equipped causes the client to crash. There are several mentions of Esteemed Innovation, which is why I am reporting it here. Also, note that I am running an unreleased alpha version of Esteemed Innovation.

## Base information
* Minecraft version: 1.10.2
* Minecraft Forge version: 2185
* Flaxbeard's Steam Power version: 1.0.0-alpha6-a488de

#

[2017-01-08 04:46] elifoster opened #472 "Sporadic ConcurrentModificationException"
## Description
This seemingly happens randomly. @Divineaspect if you wanted to figure out how this actually happens that'd be great... The code shouldn't be able to cause cmods.

## Base information
* Minecraft version: 1.10
* Minecraft Forge version: meh
* Flaxbeard's Steam Power version: 1.10

## Crash report
[code]

[2017-01-11 07:12] elifoster opened #473 "Pendulum should swing"
I'm not very good at trig. Basically, the redstone pendulum should visually swing using a TESR.

[2017-01-11 12:53] xbony2 commented on #473
[swingy](https://www.youtube.com/watch?v=B67oKT9Ihfs)

[2017-01-11 15:13] dmillerw commented on #473
Can probably do this after work tonight

[2017-01-11 21:56] Geird opened #474 "Digging a block with the big drill breaks nearby bedrock"
## Description
When the steam drill is equipped with the big drill attachment and you mine stones while the drill is active, it will also break and drop adjacent bedrock blocks.
## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version: 10.13.4.1614-1.7.10
* Esteemed Innovation version: 0.29.2

[Mod list and relevant images](http://imgur.com/a/65H58)

[2017-01-11 22:30] elifoster commented on #474
Huh. I fixed this already at #397, but I can't find it in the changelog. It should be fixed by 0.29.2, so it's strange that it's still occurring. Can you try updating to 0.29.3?

[2017-01-13 01:59] Geird commented on #474
Updated. MultiMC still displays it as .029.2 despite literally dragging 0.29.3 in. Drill breaks all the bedrock now instead of missing a corner. Still occasionally digs really slow even when spun to full speed, when otherwise it would cut through the rock like butter.

[2017-01-13 04:19] elifoster commented on #474
Yeah I'm not really sure why that happens sometimes. Been trying to figure it out for months now.

The way we handled the breakspeed in 1.7 was pretty crappy and I didn't really figure out why it was so inconsistent until last week (1.10.2). It's consistent in the next version.

As for the actual bedrock, I'm not really sure. I will test this in the current dev release when I get a chance and clos

[2017-01-14 06:56] elifoster commented on #473
@dmillerw Any word on this or thoughts on how it would be done?

[2017-01-14 07:57] #474 closed, assigned to nobody

[2017-01-17 05:45] #468 closed, assigned to nobody

[2017-01-18 03:31] elifoster opened #475 "Biome specific ore tweaks"
* [x] ~Spawn less. There's way too much.~ No longer necessary with the new ore json system
* [ ] Spawn under at least the top layer. Ores should not be exposed to the surface.
* [x] New `*` wildcard value for the `Biome` name.

[2017-01-18 19:43] OvermindDL1 commented on #472
From IRC:

12:39:00 Explode is called from:  https://github.com/Esteemed-Innovation/Esteemed-Innovation/blob/a64dc92359181e72769e0e070fefcaf34889e91b/src/api/java/eiteam/esteemedinnovation/api/steamnet/SteamNetwork.java#L156
12:39:15 Which that tick() is called from https://github.com/Esteemed-Innovation/Esteemed-Innovation/blob/212c82cc816d3865e4c8572be1d95508966f3e7c/src/api/java/eiteam/esteemed

[2017-01-19 02:22] #472 closed, assigned to nobody

[2017-01-22 07:25] #469 closed, assigned to nobody

[2017-02-04 21:57] elifoster opened #476 "Kit Bag duping bug"
## Description
greenking17 - Today at 1:12 PM
SatanicSanta Heyo, just wanted to give a quick heads up that the Esteemed Innovations Kit Bag is able to dupe items. Essentially, fill the kit bag with 2+ items, then fill your entire inv with anything (I use cobble.), then try and open the kit bag. Pictures incoming.

![inventory full of cobble; hotbar with 1 kitbag, a sign, and a TiCo pickaxe](https:

[2017-02-06 08:10] elifoster commented on #434
Fixed by 424439b

[2017-02-06 08:10] #434 closed

[2017-02-06 08:16] #448 closed, assigned to nobody

[2017-02-06 08:16] elifoster commented on #448
This has been fixed by never setting items/blocks to null, and only using those enableWhatever config options to toggle recipes.

[2017-02-06 08:18] elifoster commented on #438
Flash Boiler no longer exists in the next update.

[2017-02-06 08:18] #438 closed

[2017-02-06 08:24] elifoster commented on #270
See also #282

[2017-02-06 08:24] elifoster commented on #282
See also #270

[2017-02-06 08:26] elifoster opened #477 "Moving steam exosuit chestpiece around the inventory results in ghost items"
## Description
This might just happen when going between the Engineering Table slot and the inventory, but when the steam exosuit chestpiece is moved around the player's inventory, it creates ghost items that only disappear when you try to click them.

## Base information
* Minecraft version: 1.10.2
* Minecraft Forge version:
* Esteemed Innovation version: alpha11

[2017-02-16 04:29] elifoster opened #478 "NPE in toString() of ExosuitUpgrade children"
## Description
They call `getOverlay().toString()`, but in several cases (so far I have found it in both `ItemTank` and `BlockTankItem`) `getOverlay()` returns null.

## Base information
* Minecraft version:
* Minecraft Forge version:
* Esteemed Innovation version:

## Crash report
[code]

[2017-03-06 19:24] elifoster opened #479 "Regenerating ore toggleability"
## Description
Regenerating ores should be toggleable in the configuration file, with the default state being false. This'll disable the entire generation of regenerating ore nodes (including the worked out areas).

I feel like most people, myself included, won't particularly want to use the regenerating ores in their playthrough. It's kind of a specific style of play, I feel, and most people just

[2017-03-06 22:53] Divineaspect commented on #479
we could replace it with gnomes?

[2017-03-07 00:41] elifoster commented on #479
Eh I like that idea better as its own mod. I think it would be enjoyed on its own without EI necessarily.

[2017-03-09 00:23] OrcAndHat opened #480 "Copper/ Zinc Oregen Disabled/Not working in 1.0 Alpha"
## Copper and Zinc Ore are not spawning in the Overworld or the Nether.

Neither Copper nor Zinc blocks are spawning in Taiga biomes, nor in the Nether. I looked at the config, which suggested that Copper was only supposed to spawn in Extreme Hills biomes and checked there as well, only to find no copper ore.

I checked the Nether which was supposed to have Copper and Zinc ore and I found no sign

[2017-03-09 00:51] OrcAndHat opened #481 "Esteemed Innovation Book needs a new recipe with Biome Specific Ores"
## Esteemed Innovation Book needs to be craftable with materials easily available.

With the change to Biome Specific Ores, the Esteemed Innovation book shouldn't use Copper and Zinc Ore to craft. Either information on what biomes have the ores will be included in the Esteemed Innovation book, or the base book will point to where such information can be found. We should not assume the player knows

[2017-03-09 01:13] elifoster commented on #480
What Y level were you checking? Copper generates in the biomes specified in the config between Y80 and Y128, while Zinc generates between Y65 and Y80.

Now that I think of it, it might be better to set that to be configurable as well, maybe even on a per-biome basis, because some biomes are taller/shorter than others.

[2017-03-09 01:19] OrcAndHat opened #482 "Esteemed Innovation Book Re-organization suggestion"
## Entries in the Esteemed Innovation Book seem out of order.

The book could benefit from being reorganized, either in order of concepts that new players will need when being introduced to the mod, or in the order experienced players will most often need to reference old material.

This might be best to submit as a Google Doc, but as it is currently:

### Page 1: Basics
* [x] Ores should be right

[2017-03-09 01:26] elifoster commented on #482
I pretty much agree except with page 9. Those things fundamentally aren't really related to metalcasting, it's just that you use metalcasting to get the Funnel. It might be better off right before Steam Power, in my opinion, because the Funnel's usefulness is mainly when combined with the boiler (at least with just EI installed).

[2017-03-09 01:33] OrcAndHat commented on #480
I was checking below Y80, which was the source for the copper problem. I found copper when I started checking above that level.

[2017-03-09 02:05] OrcAndHat commented on #480
Yeah, this one should be closed/invalid. I was just looking at the wrong Z-levels.

[2017-03-09 02:08] #480 closed, assigned to nobody

[2017-03-12 05:25] elifoster commented on #458
This has been fixed in 1.10 at one point. I fixed it a while ago but forgot to close this.

[2017-03-12 05:25] #458 closed, assigned to nobody

[2017-03-13 00:02] #479 closed, assigned to elifoster

[2017-03-13 19:25] elifoster opened #483 "Add "MaxVeinSize" to ore gen format"
## Description
I'm pretty sure that's what the second param to WorldGenMinable's constructor is, so this should be pretty easy.

[2017-03-14 02:18] #483 closed, assigned to elifoster

[2017-03-14 02:44] #478 closed, assigned to nobody

[2017-03-14 03:04] #476 closed, assigned to elifoster

[2017-03-14 23:17] elifoster commented on #473
@dmillerw Did you ever get a chance to look into this?

[2017-03-16 06:11] elifoster opened #484 "Hardcode locales in StringUtility"
## Description
Certain locales do not capitalize stuff the same way. The locale should be explicitly set.

## Base information
* Minecraft version:
* Minecraft Forge version:
* Esteemed Innovation version:

## Crash report
[code]

[2017-03-17 02:39] elifoster commented on #475
I tried doing this, and it just resulted in the ores barely generating. Not sure how I should do it that also avoids that problem. For now if you don't want it to be on top, just configure it such that that won't happen (proper MaxY and ReplaceableBlocks, for example).

[2017-03-17 03:38] #484 closed, assigned to nobody

[2017-03-17 04:53] Divineaspect commented on #475
Just have the generator drop more sand on top?

[2017-03-17 04:54] elifoster commented on #475
Huh, I didn't think of that. It would be more dynamic than strictly sand, but that's a good idea.

[2017-03-17 07:14] Divineaspect commented on #475
Or an offset down by 1 option, that'd let you also put things in shallow water.

[2017-03-17 19:59] elifoster commented on #475
How would that let you put it in water?

[2017-03-24 17:26] elifoster commented on #186
If the only issue remaining is related to the flash boiler, this can be closed, as that is removed in 1.0.0. @DivineAspect ?

[2017-03-24 17:59] Divineaspect commented on #186
makes sense to me, I'll just test for this specific thing going forward.

[2017-03-24 18:27] #186 closed

[2017-03-25 00:18] elifoster commented on #122
ArmorStatusHUD has not been ported to 1.9+.

[2017-03-25 00:18] #122 closed

[2017-03-25 00:19] elifoster commented on #164
Archimedes' Ships does not exist past Minecraft 1.7.

[2017-03-25 00:19] #164 closed

[2017-03-25 00:20] elifoster commented on #149
Tool Heads does not exist past Minecraft 1.7.

[2017-03-25 00:20] #149 closed

[2017-03-25 00:23] elifoster commented on #378
TerraFirmaCraft does not exist past Minecraft 1.7. Furthermore, the 1.10 version of EI actually allows for a nice bridge mod to set the water value we use as of a1e117826f2d2fc8c00298cd0e77432c1118fcf4

[2017-03-25 00:23] #378 closed

[2017-03-25 00:24] elifoster commented on #277
Archimedes' Ships does not exist past Minecraft 1.7.

[2017-03-25 00:24] #277 closed

[2017-03-25 00:26] elifoster commented on #316
Since this was a getIcon thing, this is no longer an issue. Furthermore, I addressed the issue BluSunrize brought up about ore world variants a long while ago in 386f15ec177e6c393e3973c09eb9ab4431cc2fb7

[2017-03-25 00:26] #316 closed

[2017-03-25 00:30] elifoster commented on #259
Smart Moving does not exist past Minecraft 1.8.

[2017-03-25 00:30] #259 closed

[2017-03-25 22:10] elifoster commented on #175
According to OutcastZeroOne, with the latest alpha build, this does not seem to be an issue anymore. If someone gets it again with 1.0.0+, feel free to reopen it.

[2017-03-25 22:10] #175 closed

[2017-03-29 00:24] elifoster commented on #481
On a related note, I think we need some way to document the generation (maybe just biomes) that ores can be found. If we added a different thing that documented this automatically, then we could keep the current recipe for the EI journal.

Edit: Perhaps this info could be in the biome log

[2017-03-29 00:51] elifoster opened #486 "Steam machinery tiering and pressure"
Challenge: Machines to require a pressure range (a percentage of steam capacity in their attached network) to operate.
* What are we considering an “attached network” here? Technically speaking, every connected pipe, boiler, or tank is in total a single network. I suppose we could add devices to separate networks, like a one-way pipe or something.

Four tiers of steam machine: Tolerant doesn't car

[2017-03-29 00:55] elifoster opened #487 "Monstrous Steam Boiler"
Based on Big Reactor ideals the Monstrous Steam Boiler is a scalable steam generation system. Technically you could put a single water source above/adjacent to a furnace, with a steam tank above it, and it would work, very slowly generating steam. However it’s intended to provide economies of scale, and look like an industrial dream/nightmare.

## HeatSource Blocks (Active Furnaces, Solid Fuel Bur

[2017-03-29 01:18] elifoster opened #488 "Automation systems"
Holding Crafting table (Needs a Better Name)
* What is this? Just a crafting table that retains its inventory?

## Autocrafting
The Autocrafting system  is a three tall block with a downward facing steam piston over a holding crafting table with an air gap. When the steam piston is activated it descends autocrafting the recipe in the table. If you’re interacting with the table when it happens you

[2017-03-29 01:21] elifoster opened #489 "Punchcard: New logic systems"
## Punchcards
Punchcards are items made from paper and sugar, which can record up to 6 values of 0-15 on them. Enchanted punchcards: punchcards work like books into enchanted books in the enchanting table, but can only be added using the steam hammer.

## Hand punch
A tool which allows you to edit the values recorded of punchcards. using it on an enchanted punchcard causes it to loose it’s enchant

[2017-03-29 01:22] elifoster opened #490 "Enderspace logic options"
## Enderspace Signal Projector
Has an output side. When it gets a redstone signal it scans in the direction of it’s output side for an Enderspace signal receiver, and if it finds it within range, passes it’s redstone signal to it as the same strength. It’s not constantly scanning and presumes that the receiver isn’t moving, you may have to wack it with a wrench to force it to rescan. If it doesn’t

[2017-03-29 01:25] elifoster opened #491 "Hot fluid pipe (for things that copper pipes cannot already hold)"
Iron pipes can carry lava (or other hot liquids), if iron pipes get wet they become rusty iron pipes. Rusty Iron pipes are vulnerable to Rustweavers (Exploration Monsters)

Create the same way as brass and copper pipes currently are

Zinc plated pipes are made by using iron pipes on a crucible of zinc, and are immune to rust.

[2017-03-29 01:27] elifoster opened #492 "Tar: new casting material"
For our puposes tar = tar, rubber, or any other petrochemical material we want. Tar is found in the world, moved with buckets, but doesn’t flow. Tar can be made by adding coal (not charcoal) to the crucible.  Fire can Sit atop a Tar Source block, and not burn out.
* Tar nuggets are throwable and inflict a variation of a slowness debuff, disable the ability to throw items (you’re too sticky), and i

[2017-03-29 01:29] elifoster opened #493 "Glass: new casting material"
Tossing Sand into the crucible is a logical step.
* Glass ingots can be used to create blocks with are translucent but not effectively see through. Perhaps glass weapons. which have wood durability but come preenchanted with sharpness?.
* Glass nuggets can be fired out of dispensers, deal 1 health (half a heart), and make the glassbreaking sound.
* glass pressure plates emit a pulse if you walk on

[2017-03-29 01:31] elifoster opened #494 "Igneous Rock: new casting material"
Obsidian and Flint* are technically the same materials, IRL. If so then casting lava, or melting down obsidian or flint could result in the same materials.
* Igneous ingots are oredicted to flint, but can also be use to make obsidian brickwork which is oredicted to obsidian. I would also plan on a future nethermechanics update using it as part of anything which emulates netherportal effects.
* Ign

[2017-03-29 01:34] elifoster commented on #310
(From google documents)

## Pneumatic Item pipes
These wonders of glass (or something else that is opaque, cannot be copper or iron since those are already fluid pipes) send items shooting around. On their own, they connect to hoppers, and can only send items to outputs which are not higher then they appear.

To send pipes upwards, impellers are required, just as they are with fluid pipes.

Item p

[2017-03-29 01:37] elifoster opened #495 "Steam Brewery: New comprehensive brewing aspect of the mod"
A brewing system based around real-life steam brewing mechanics. Though, fitting with the theme of EI, it doesn't add the machines in large-scale for-profit breweries, but it's closer to homebrewery setups

This is largely inspired by Toast the World, a mod idea described in the FTB Forums. Take a look over there for some more ideas http://forum.feed-the-beast.com/threads/toast-the-world-a-new-twi

[2017-03-29 01:42] elifoster opened #496 "New exploration features ideas"
The idea behind this is that "advanced applications" requires killing mobs, finding materials, dungeon loot, trading with villagers, or otherwise getting out and seeing the world to unlock. using those "advanced applications" things should unlock whatever comes after that.

## Nether
### Terrain Features
#### Infernium Deposit
This unique mineral deposit can only be found under lakes of lava in th

[2017-03-29 01:45] elifoster opened #497 "Hot water"
Boil water in a crucible

* Baked clay blocks to revert them to clay.
* Hot water for baths to remove status effects.
* Make soup by the whole crucible, add any 5 soup ingredients and be able to get a lot more out using wooden bowls.
* Hot Milk
  * Drink to enable sleeping during the day?
  * Add cocoa to make hot chocolate which is just awesome.

This will also begin improving the food aspects of

[2017-03-29 01:46] elifoster opened #498 "Steam Heater-only furnace"
Perhaps implement a furnace that can only be used when heated with steam heaters, but is significantly more efficient than the vanilla furnace.

[2017-03-29 02:05] elifoster opened #499 "Ghastwater: new fluid"
Dissolving Ghast Tears using high temperature steam produces a fluid which acts a lot like water, most importantly it doesn’t evaporate passively in the nether, but does in steam boilers, and can even be drawn from by archimedes screws. Finally you can generate steam power in hell. Watch out for it’s interaction with lava, it seems to take on it’s properties if it comes into contact with it, gener

[2017-03-29 02:06] elifoster opened #500 "Blaze Boiler: new dangerous steam production option"
This machine suborns the power of a blaze spawner to create infinite sources of heat, blazes, to power your steam boilers, disabling it’s normal function. Finally you can take advantage of the thermal power of blazes without constantly fighting, shame the bursts of random steam from this engine can be so dangerous. Though the cost does seem to be setting up shop in a nether fortress.

[2017-03-29 02:09] elifoster opened #501 "Thumper: Alternative soul sand behavior"
Thumping Soulsand both angers pigmen, and causes the soulsand to emit experience orbs.

[2017-03-29 02:49] elifoster opened #502 "Book and crafting knowledge tiering/progression"
Being able to craft things and read about things in EI requires performing tasks that unlock knowledge. Hints are displayed in the book on how to unlock certain things.

## Tier 1
### Metal Casting
**Hint**: *Metal is only so malleable when It comes out of the furnace, I could do more with it if I could control its shape better.*
**Act to Unlock**: Crafting an Anvil, Block of Metal
**Unlocked**: C

[2017-03-29 04:52] elifoster opened #503 "Engineering Table NPE"
## Description
Pretty consistently happens when joining a new world.

## Base information
* Minecraft version: 1.10.2
* Minecraft Forge version:
* Esteemed Innovation version:

## Log
[code]

[2017-03-29 04:55] elifoster opened #504 "Vacuum dupe bug"
## Description
When the vacuum is putting items into its adjacent inventory, it will completely fill every single slot with a copy of the sucked in itemstack.

## Base information
* Minecraft version: 1.10.2
* Minecraft Forge version:
* Esteemed Innovation version:

[2017-03-29 05:04] #504 closed, assigned to elifoster

[2017-03-29 05:14] #456 closed, assigned to nobody

[2017-03-29 05:24] #503 closed, assigned to nobody

[2017-03-29 06:40] #477 closed, assigned to nobody

[2017-03-29 16:10] Drullkus commented on #499
Ghast Cream item?

[2017-03-29 20:08] elifoster commented on #499
What does that mean?

[2017-03-29 20:16] elifoster opened #505 "Join world, leave world, join a world again: NullPointerException"
## Description
If you join a world, then leave it, then try to join another world (any world), it will kick you with the error below. It works as expected if you close Minecraft between world loads, but that's annoying.

## Base information
* Minecraft version: 1.10.2
* Minecraft Forge version:
* Esteemed Innovation version:

## Error
[code]

[2017-03-29 22:32] Qohelethh commented on #501
This is brilliant. Can't wait to play the new version,

[2017-03-29 22:59] elifoster commented on #505
And suddenly I can't reproduce this.

Edit: Did not mean to close this.

[2017-03-29 23:06] elifoster opened #506 "Book entries needed for 1.0.0"
* [ ] Kit Bag
* [ ] Leather Exosuit
Others???

[2017-03-30 00:18] Drullkus commented on #499
"How is it made?" Was thinking you'd make the item then mix it into water or so.

[2017-03-30 00:40] Divineaspect commented on #499
Whereas I was picturing a tv special on the ghastwater factory, and it ends with the whole place in flame.

[2017-04-02 23:42] elifoster commented on #505
Just reproduced this again, the thing that is null seems to be the player variable (seen with breakpoints).

[2017-04-03 00:52] elifoster commented on #416
@Divineaspect Could you provide a complete list of the machines that are not already redstone-disableable that should be?

[2017-04-16 21:39] Divineaspect commented on #506
This Kitbag allows me to store a complete array of tools, normally on my belt, and swap them out all at once.

I upgraded my leather armor with mounting points for adding armor plates to it.This new armor isn’t any better than leather armor for protection, but the metal plates make it far more customizable, and it doesn’t wear out

[2017-04-24 23:54] elifoster commented on #416
Not sure how this should be implemented in a nice way that doesn't require adding a bunch of redundant code all over the codebase. Pushing back until a nice solution can be figured out by someone.

[2017-04-24 23:55] elifoster commented on #256
With the Thumper modifier system, the major issue with the Thumper is not nearly as bad. Pushing this back for a good solution to the fan thing, as well as to see if actually using the Thumper in game still sucks after making that vacuum feature.

[2017-04-25 04:51] #455 closed, assigned to nobody

[2017-04-26 05:16] elifoster commented on #212
Okay so it was actually added into the base branch at some point. I have absolutely no idea when this was, but I know I've worked on it (and I'm working on it now). Since it is basically functioning and has been in base for a while, closing this and deleting the branch.

[2017-04-26 05:16] #212 closed

[2017-04-26 05:29] elifoster commented on #359
This issue is pretty general now, so I'm going to close it.

[2017-04-26 05:29] #359 closed

[2017-05-01 12:11] ghost opened #507 "ModTweaker integration"
Hi, I want to talk about integration with modtweaker. I believe that mod came out pretty well and I don't know any other mod, with such interesting steam and steampunk component. However, whatever mod you full use when creating modpacks, should be a good integration with modtweaker. Do you have plans to fix the integration with modtweaker?

[2017-05-01 12:13] ghost commented on #507
![default](https://cloud.githubusercontent.com/assets/23289124/25579452/b46b1d80-2e80-11e7-8a82-9b2b3e60204c.PNG)

[2017-05-01 13:22] elifoster commented on #507
We added MineTweaker integration in the latest feature version for 1.7.

[2017-05-01 15:43] ghost commented on #507
Thank you for the quick response

[2017-05-02 21:35] bookerthegeek commented on #507
@elifoster do you have documentaion for it or would you like me to update the wiki for you on it?

[2017-05-02 21:45] xbony2 commented on #507
There is, [here](https://ftb.gamepedia.com/Using_MineTweaker_and_Flaxbeard%27s_Steam_Power).

[2017-05-02 22:10] bookerthegeek commented on #507
Thank you much.

[2017-05-02 23:18] #507 closed, assigned to nobody

[2017-06-20 00:12] ghost commented on #336
This issue was fixed in upstream in JadedPacks/JadedTweaks.

@elifoster May want to close this now.

[2017-06-20 01:02] #336 closed

[2017-07-11 07:22] OutcastZeroOne opened #508 "Gizmo, the steam powered follower"
A EI version of OpenBlocks "Luggage". a small follower, if I remember right someone at one point had made a steam spider model? possible use for that.

[2017-07-20 09:18] ghost opened #509 "dynamically generated steamable foods controlled via config text keywords"
Dynamically generate any missing Steamed foods like so
step  1 : iterate trough smelting recipes of ItemFood or ItemSeedFood
step 2 :  in the list above find all the **input** foods that contains specific keywords for ex "raw" or "meat" (keywords can be added in config file) and that do not already have Steamed variants produced by Esteemed Innovation mod
step 3 : dynamically generate Steamed vari

[2017-07-20 15:05] elifoster commented on #509
Hm. How could this handle localization though?

[2017-07-20 15:25] ghost commented on #509
@elifoster  oh yea good point . I guess you would run the search on the en-US localized name for keywords but all you would have to localize is the word Steamed which you would add in front of whatever localized name the smelted version of the food is. I guess . I don't know perhaps is not such a great idea.  If you could pull it off you could remove all the foods that already exist and simply rep

[2017-07-20 18:40] ghost commented on #509
@elifoster

Been pondering this trough. Consider the following:

The keyword will first search current localization of Minecraft and the strings in config can in fact be localized and customized by the user. This searches the current localized strings but if the mod does not contain current localized name then will look trough the default en-US instead.

[code]

Might not work for all cases but ca

[2017-07-20 18:45] elifoster commented on #509
That doesn't resolve the different order of words in different languages. For example, "Steamed Meat" in Spanish is something along the lines of "Carne Cocido con Vapor" (literally Meat Cooked with Steam).

[2017-07-20 18:50] ghost commented on #509
I was thinking you could add one final option to add it before or after the name like so
B:SteamedKeywordAfter=false

This should cover both word order, localization and additional normally unsupported mod foods and should generate all the steamed variants at build time.

A few  mods use tricks such as these to support other mods items via localized/name keywords or direct unlocalized name.

The o

[2017-07-20 18:54] elifoster commented on #509
Again that doesn't leave room for all things. Languages aren't that simple and I'd like to avoid hardcoding stuff that should be completely internationalized. For example, a "Cooked Whale Nice Steak" (from your original post) would be "Carne al Vapor de Ballena Bonita" (literally Meat to the Steam from Beautiful Whale) in Spanish. Notice the part about it being steamed, "al Vapor" is in the middle

[2017-07-20 18:57] ghost commented on #509
But you could technically say Whale Nice Stake al  Vapor in which case the keyword would be "al Vapor" and B:SteamedKeywordAfter=true would be intelligible. While not perfect would be acceptable.

[2017-07-20 19:04] ghost commented on #509
One final try!

[code]

The way it would work is it would stop at first find in the list do that then move on to next string. So you would wanna place more complex strings towards the top and simpler ones towards the bottom and put this notice in comments above to explain this

This way you could manually build a set of pairings for things that don't naturally fall into place that easily.

I don't

[2017-07-20 19:08] elifoster commented on #509
I think the best way to do it would be to make it incredibly painless for mods to add simple raw -> steamed conversion recipes and basic steamed food items (using the same hunger and saturation increases as the vanilla ones currently have). `SteamingRegistry.addSimpleSteamingRecipe(ItemFood rawItem, ItemFood cookedItem) => ItemSteamedFood`

I think forming strings that are read by humans that are

[2017-07-20 19:15] ghost opened #510 "craftable recipes trough Craft Tweaker should show up in Esteemed Innovation book as well as any possible alloys should work if the ore is present in the world"
I don't know if this suggestion is worth but sometimes people add their own custom recipes and they never show up anywhere for ex Crucible is a big culprit here.

In Thaumcraft you can make the custom page and recipe added to the book but in Esteemed Innovation book you just need to remember it . IF a server adds custom recipes they will be completely secret for ex Crucible ones are only listed in

[2017-07-20 19:21] ghost commented on #509
I think to add to what you said the most sensible and proper way to produce steamed variant names in other languages would have to be  users adding their own mappings manually in config file. Might be more trouble than is worth tbh

[2017-07-20 19:35] ghost opened #511 "expanding on steam tools"
there should be a fourth universal steam tool that can have 3 heads and via Shift+right click switch between them. this could work similar to Chamelon Tools in Thaumcraft Forbidden Magic addon. 3 tools in 1. you could add 3 types of saw or 2 drills and 1 saw etc. Whatever fits your needs.

Possibly call it Universal Tool or Universal Steam Tool or Multi-Purpose Steam Tool.

there should be special

[2017-08-26 20:13] masterworm2 opened #512 "Give EMC values to stuff in FSP for Project E"
## Description

Right clicking on a bucket gets frustrating, let's make that easier with Project E!

## Base information
* Minecraft version:
* Minecraft Forge version:
* Esteemed Innovation version:

## Crash report
[code]

[2017-08-26 20:13] elifoster commented on #512
What do buckets have to do with EMC?

[2017-08-26 23:59] masterworm2 commented on #512
That's what me and my friends call the crucible as a joke, mentioning "click on the bucket for 20 minutes" turns people off from playing the mod, at least could you guys make this more of a streamlined process? Because the animations are too long and stuff, even if it took a stack of diamonds to speed up the process it would be worth it. I'm sleepy at the moment so I'm not sure if that made sense.

[2017-08-27 00:54] Divineaspect commented on #512
the Pendulum should solve this.

Jeremiah Grimsley

"All of humanity is in peril of extinction if each one of us does not dare,
now and henceforth, always to tell only the truth, and all the truth, and
to do so promptly — right now." - R Buckminster Fuller

On Sat, Aug 26, 2017 at 6:59 PM, Russell <notifications@github.com> wrote:

[2017-12-31 03:43] elifoster commented on #481
From myself on Discord:

It doesn't exactly solve the entire issue outlined in #481, but it does solve the "Either information on what biomes have the ores will be included in the Esteemed Innovation book, or the base book will point to where such information can be found." part

[2018-01-04 08:25] elifoster opened #513 "Engineering Table: World reload doesn't show Engineerable's upgrades until after first open"
## Description
If you put something with upgrades inside the Engineering Table, then exit the world without taking it out, then go back to the world, the upgrades don't appear until you either take the thing out and put it back or close the GUI and reopen it.

## Base information
* Minecraft version: 1.11.2
* Minecraft Forge version: see gradle.properties
* Esteemed Innovation version: f0727b5

[2018-01-04 09:15] #311 closed

[2018-01-21 05:27] elifoster opened #514 "Metalcasting Hut construction fails"
## Description
When loading the world, the following is in the log:
[code]

## Base information
* Minecraft version: 1.11.2
* Minecraft Forge version: 13.20.1.2393
* Esteemed Innovation version: c23c683231ae2804cd230975172a543124ce094c

[2018-01-21 06:08] #514 closed, assigned to nobody

[2018-02-09 07:46] theJ8910 opened #516 "Steam Heater + GregTech causes major server performance issue"
## Description
When Flaxbeard's Steam Power is installed alongside GregTech and a chunk containing a steam heater (such as one naturally generated in a village) is loaded, severe degradation of serverside TPS results. I'm getting 4-5 TPS in a singleplayer world (I verified that FSP was the main contributor to the performance degradation by sampling Minecraft's processor usage with JVisualVM, a Jav

[2018-02-09 18:52] elifoster commented on #516
It simply ticking should not take a significant toll on the performance, however those `getTileEntity` calls can you're right. The source for FSP (1.7) is the [1.7 branch](https://github.com/Esteemed-Innovation/Esteemed-Innovation/tree/1.7). We are not currently actively maintaining 1.7, but if you submitted a pull request to the 1.7 that fixes this issue I would not be opposed to merging it into

[2018-02-09 19:12] theJ8910 commented on #516
I haven't tested it with the other TileEntities yet. At the time I reported it, the profiler was only indicating the steam heater, but then again that's probably because I hadn't got around to making any of my own FSP devices yet. If the other TileEntities are coded similarly they would likely cause the same problem.

The latest version you have on curse is [0.29.3](https://minecraft.curseforge.co

[2018-02-09 19:19] elifoster commented on #516
Oh, you're right. 0.29.3 is not in the 1.7 branch, for some reason. I'll try to find where it is because it definitely exists somewhere.

[2018-02-09 19:36] elifoster commented on #516
Oh, okay, so it looks like 0.29.3 was done on a branch called master which has since been deleted. There are a few commits after May 3 that were on that branch instead of the 1.7 branch (https://github.com/Esteemed-Innovation/Esteemed-Innovation/commits/8d4c1b3f791b592be9ca46e4219598036695f2da). I believe this was because of some branch weirdness going on at the time in relation to the 1.10+ updat

[2018-02-28 07:01] Lance5057 opened #517 "Exoplates API suggestion"
Add an api for other modders to add their materials as exoplates and possibly a way for modpack makers to do so via markup language.

[2018-02-28 07:09] elifoster commented on #517
We have an API for modders to do it, but there is not currently an easy way for people to do it without doing so in a mod. There could probably be some way to give pack makers the ability to do it with a markup language that wouldn't give them the ability to do "fancy" stuff (like the Zinc plate exploding on hit) but we could probably let them do simple stuff like additional protection, replicatin

[2018-03-30 04:17] elifoster opened #518 "Engineering Table GUI weirdness"
## Description
The background doesn't appear darkened, and there are no tooltips when using the Engineering Table.

![2018-03-29_21 15 23](https://user-images.githubusercontent.com/4176124/38124427-6bdc1788-3396-11e8-9aab-e03c164bc652.png)

## Base information
* Minecraft version: 1.12.2
* Minecraft Forge version: 14.23.1.2604
* Esteemed Innovation version: b0f8812

## Crash report
[code]

[2018-03-30 04:20] elifoster commented on #513
This bug persisted the 1.11 ➡️  1.12 port, however it's slightly different. You can also not interact with the upgrade slots at all; they do not light up when you hover over them. You also don't have to take the tool out, you can just click the inventory gui.

[2018-03-30 04:37] #518 closed, assigned to nobody

[2019-01-22 11:12] Diamssword opened #520 "French translation"
## Description
Hello, Might be a bit outdated but I've made a french .lang file for the mod!
Feel free to add it to the mod if you want!
## Base information
* Minecraft version: 1.7.10
[fr_FR.zip](https://github.com/Esteemed-Innovation/Esteemed-Innovation/files/2782484/fr_FR.zip)

[2019-03-05 12:46] zHawky opened #522 "Flying with pulse nozzle in SMP"
## Description
Free steam cost flying upward with **pulse nozzle** upgraded boots in **SMP**
(admin or first player in local cannot flying, only double jump)

## Base information
* Minecraft version: **1.7.10**
* Minecraft Forge version: **Forge10.13.4.1558** and **Forge10.13.4.1614**
* Esteemed Innovation version: different, checked all last versions since **FSP-1.7.10-0.29.1**

## Crash report
[

[2019-05-04 03:23] ExpensiveKoala commented on #463
@Lance5057 Can you get on this?

[2019-09-02 01:08] elifoster commented on #513
Update from Discord

insert steam drill
upgrade with big drill and overclocker
take out
put back in
leave world
enter world
insert steam saw
upgrade with forest fire
leave world
enter world
result: 2 steam drills with big drill and overclocker upgrades

[2020-02-10 18:31] Gandalf360one opened #526 "Compiling Error 1.12.2"
I try to compile this mod to test it and use it in my Modpack, but I get that error:

misc.StringUtilityTest > testDecapitalize FAILED
    org.junit.ComparisonFailure at StringUtilityTest.java:23

misc.StringUtilityTest > testCapitalize FAILED
    org.junit.ComparisonFailure at StringUtilityTest.java:14

[2020-04-19 02:41] elifoster commented on #526
My guess is that there is a Locale issue. Try commenting out line 154, `testCompile sourceSets.api.getOutput()` in `build.gradle`.

[2020-04-27 21:33] #526 closed, assigned to nobody

[2020-12-04 21:31] andy2125 opened #528 "Modular accelerator stops working sometimes"
So I am playing terrafirmapunk on the newest version and every so often when I log on the modular accelerator isnt working but if I restart the game eventually it'll work again is there anything I can do to stop this happening cos sometimes it takes 6/7 restarts to start working properly which is rather annoying.
Many thanks
Andy

[2020-12-06 00:03] elifoster commented on #528
This was reported back in 2015 and we were never able to figure out exactly why it happens — something in the 1.9+ versions fixed it but we couldn't figure out what. See #175.

Are you on a server or single-player?

[2020-12-10 16:04] andy2125 commented on #528
Yh I'm on single player. The mod pack I'm using though is only available in 1.7.10 so can't change that unfortunately. Is a old pack but was hoping there was a fix but I guess not. I'll keep restarting until it works again I suppose 🤣😭

[2021-03-11 17:34] dudebehinddude opened #529 "1.12 branch will not build"
## Description
running gradlew build after downloading the 1.12 fork results in an error
## Base information
i am using java SE dev kit 8 as the gradle wrapper version is old

## Crash report
[code]

[2021-03-19 05:59] elifoster commented on #529
According to the HWYLA readme, we need to update how we download it in the gradle buildscript.

[2021-03-20 23:56] dudebehinddude commented on #529
by the way if/when you fix this you have to update to hwyla 1.8.26-B41_1.12.2 as the older versions (or at least B38) is not on maven anymore

[2021-08-21 10:49] Shad0wBlad321 opened #532 "downloads are horrific"
you need to make downloads more accesible

[2021-08-21 18:55] elifoster commented on #532
EI is not released, FSP downloads are available at [CurseForge](https://www.curseforge.com/minecraft/mc-mods/flaxbeards-steam-power)

[2021-08-21 18:55] #532 closed, assigned to nobody

[2021-10-03 23:47] toErIpNid opened #533 "1.7.10 Flaxbeard's Steampower crashes modpack."
## Description
I don't expect this to ever be fixed but worth a shot. My modpack crashed and when I took out Flaxbeard's it worked again.

## Base information
* Minecraft version: 1.7.10
* Minecraft Forge version: 10.13.4.1614
* Esteemed Innovation version: 0.29.3

## Crash report
[code]

[2022-01-03 01:56] MCDKlong opened #534 "Destroy bedrock with giant drill bit"
#描述n#基本信息n*我的世界版本：n*我的世界版：n*受人尊敬的创新版本：n##崩溃报告n‘nCRASH这里的报告n`’
Destroy bedrock with giant drill bit

hello May 21, 2016 FSP-1.7.10-0.29.3 Is it intentional that it can dig bedrock even with large drill bit?（The method is to place stones above bedrock.）

[2022-01-03 02:44] xbony2 commented on #534
LMAO nice. It probably isn't. Unfortunately this mod is not really supported anymore.

[2022-01-03 03:19] MCDKlong commented on #534
Even if it's not a problem, it's cool.The idea of using anti-aircraft guns for transportationIt's excellent.Thank you for your moduleIt adds endless fun to my game.（Sorry, my English is not good.The literal meaning of the translation may be wrong. ）